[2017-11-18 20:18] SvenssonWeb commented on #259
It's not really necessary to have a separate repo, you could set up a multi module project in this single repo.
That would keep all releases in sync. And a release would release all parts as a new version.
But it's all a matter of taste I guess :)

[2017-11-18 20:19] SvenssonWeb commented on #259
I could set up a pull request with a suggested structure if you want

[2017-11-18 20:27] jmrozanec commented on #259
@SvenssonWeb is a possibility, but on the other side, each module will have separate life cycles and thus should also have separate versioning. Since each module will expose an API and we stick to [semantic versioning](http://semver.org/), if a module does not change the public contract or include new features, we should not alter its version. I think this will be the case for this library: the co

[2017-11-18 20:31] SvenssonWeb commented on #259
Okay, sounds good. Keeping them together would keep versioning intact so the same version of both would by definition work together. This will need to be taken into consideration.

[2017-11-18 20:38] jmrozanec commented on #259
@SvenssonWeb yes, that is a downside we are aware of and we assume. A way to solve it would be to reference the tag commit hash for a given version at the core as metadata across all satellite libraries. This way we could trace all satellite dependencies to a given core version by knowing the reference hash.

[2017-11-18 20:55] SvenssonWeb commented on #259
Good, so... Way forward is to transfer this enhancement to its own repository, and remove Guava from the core system?

[2017-11-18 20:55] jmrozanec commented on #259
Yes!

[2017-11-18 20:57] SvenssonWeb commented on #259
Nice, I have a pull request ready for the guava removal.

[2017-11-18 21:10] SvenssonWeb commented on #267
Should the manifest file in main be removed as well?

[2017-11-18 23:55] SvenssonWeb commented on #263
Unfortunately, because of decisions taken in regards to crontab in unix, DoW and DoM operates independent in the cron format. Specifying both would cause an OR evaluation. "Fixing" this by switching the evaluation to an AND evaluation would give you this feature (e.g * * 8-31 * MON all but first monday in each month).
But this would work counter to the standard documented version of UNIX Cron.
May

[2017-11-19 02:14] jmrozanec commented on #263
@SvenssonWeb yes, we understand the requested feature is not aligned with the Unix cron specification. cron-utils aims to provide a complete cron utility, where compliance to a standard would mean at most to limit some features, not to miss them.
Address the issue by adding some CronValidation that would prevent such expressions for UNIX cron definition may be a good idea. We can enforce it from t

[2017-11-19 02:16] jmrozanec commented on #259
@SvenssonWeb thanks!

[2017-11-19 02:16] #259 closed

[2017-11-19 13:03] Naxos84 commented on #264
I just updated my fork to remove the deprecated usage of always and questionmark but there are 3 unit tests that are failing. Is that a known issue?
Should I leave them as they are and just remove the usage of the deprecated classes or should I wait until those tests are fixed?

[2017-11-19 13:04] SvenssonWeb commented on #264
Yes, this is a known issue. I came across it yesterday, and my fix moved the issue to today. Basically its a modulus issue in the test cases that causes them to fail every 14th day. I have a pull request up at #272

[2017-11-19 13:05] SvenssonWeb commented on #264
If you run your tests tomorrow again they should be fine though ;)

[2017-11-19 13:24] SvenssonWeb commented on #243
Is this really supposed to be a part of this utility?
Doing the timezone conversion before building the cron expression would probably be easier for everyone.
I could see the use case for this if you are writing the cron expression by hand and plugging it into a service. But is that really how this should be done?
Adding cron expression to be run on server side, should be expected to run on server

[2017-11-19 13:33] SvenssonWeb commented on #263
I'm not arguing against it, I just felt it would be good to highlight that this is not standard.

Should we support ranges as well? e.g `"0 1 0 ? 1/1 MON#2-5 *"`
That would be a logical progression as well, I think.

[2017-11-19 13:56] SvenssonWeb opened #273 "Remove unused file SecondsDescriptor.java"
[SecondsDescriptor.java](https://github.com/jmrozanec/cron-utils/blob/7a48b5ebc8b5e79bc4c83327f44649aa383e4269/src/main/java/com/cronutils/descriptor/refactor/SecondsDescriptor.java) is not used anywhere.
Is it going to be used in the future?

[2017-11-19 15:26] SvenssonWeb opened #274 "Will throw NullpointerException"
https://github.com/jmrozanec/cron-utils/blob/7a48b5ebc8b5e79bc4c83327f44649aa383e4269/src/main/java/com/cronutils/model/time/ExecutionTime.java#L196-L199

This piece of logic will always throw at `days.getValues().get(0)`, because `days` is never given a new value.

[2017-11-19 15:27] SvenssonWeb commented on #274
I'm looking at rewriting larger parts of this method, and related private methods, to fix this as well as removing exceptions as control statements.

[2017-11-20 07:10] Naxos84 commented on #274
When `years.isEmpty()`(Line 178) evaluates to `true` then days might have a value.

[2017-11-20 08:47] SvenssonWeb commented on #274
Yes, but it always returns on line 185

[2017-11-20 08:53] Naxos84 commented on #274
True. Didn't see that.

Am 20.11.2017 09:47 schrieb "Fredrik Svensson" <notifications@github.com>:

[2017-11-20 13:05] jmrozanec opened #276 "Add Swahili translation"
Add Swahili translations! Done with #275! Kudos to @tanyona!

[2017-11-20 13:05] #276 closed

[2017-11-20 13:07] jmrozanec commented on #273
@SvenssonWeb this is a WIP - part of the "enhanced-descriptions" milestone: we want to refactor how descriptions are provided, to reach a new quality level of them. Should not be removed.

[2017-11-20 13:07] #273 closed

[2017-11-20 13:21] jmrozanec commented on #243
@SvenssonWeb there may be different ways to do this - we agree on that. Nevertheless, this use case may not be that straightforward: we may have cases where converting a cron expression to another timezone involve day changes, DST, etc.
We understand this could be valuable for anyone who has servers in multiple time zones and needs to execute tasks at the same time, providing a single cron express

[2017-11-20 13:24] jmrozanec commented on #263
@SvenssonWeb Sure! We are on the same page! We agree with the ranges support you propose: that would make expressions far neater. Thanks! 😄

[2017-11-20 13:26] jmrozanec commented on #264
@Naxos84 @SvenssonWeb can we replicate those 3 tests with the specific date they were failing, and file an issue for this? Must be a bug, and even if happens once in a while, is still a bug 😄
Perhaps we can upload the test commented, referencing the issue, so that the build wont fail, but we can grep them in the code when needed to fix the issue. Thanks!

[2017-11-20 13:31] jmrozanec commented on #267
@SvenssonWeb not sure. @curioustechizen could you assist us on this?

[2017-11-20 13:42] jmrozanec opened #277 "Extract CLI and Guava rangesets to satellite repos"
We would like to provide a core with little dependencies and additional functionality with satellite libraries to be included only by those who need them. We are not building a multimodule project since each satellite library would have separate development and release cycles and we are willing to stick to [semantic versioning](http://semver.org/). To provide means to trace each satellite release

[2017-11-20 19:26] SvenssonWeb commented on #264
The updated test cases now tests all days under oktober 2017. So this issue is now covered in those tests.

[2017-11-20 19:41] jmrozanec commented on #264
Great! Thanks!

[2017-11-20 22:59] SvenssonWeb commented on #274
The code itself in never reached. That was kind of the issue.
If you run a code coverage for all test cases, that specific line of code is never accessed.

[2017-11-21 00:57] jmrozanec commented on #274
@SvenssonWeb we are closing the issue.

[2017-11-21 00:57] #274 closed

[2017-11-21 16:00] pojaszek opened #280 "Add support for "America/Punta_Arenas" timezone"
org.threeten.bp.ZoneId.of("org.threeten.bp.ZoneId") throws the below exception:
`Unknown time-zone ID: America/Punta_Arenas
org.threeten.bp.zone.ZoneRulesException: Unknown time-zone ID: America/Punta_Arenas
	at org.threeten.bp.zone.ZoneRulesProvider.getProvider(ZoneRulesProvider.java:178)`

[2017-11-21 16:56] jmrozanec commented on #280
@pojaszek thank you for reporting this. Upgrading to version 7.0.0 does solve the issue? Thanks!

[2017-11-22 08:22] pojaszek commented on #280
I think in version 7.0.0 you are using time classes from java 8, not from threetenbp, so that timezone is supported

[2017-11-23 01:07] jmrozanec opened #281 "An error is thrown when trying to parse the expression "0 0 0 24 1/12 ?""
We found a problem with the CronParser: an error is thrown when trying to parse the expression `"0 0 0 24 1/12 ?"`
When parsing, we get the following trace:

[code]

Kudos to @soriniulus for reporting it at [gitter](https://gitter.im/jmrozanec/cron-utils)

[2017-11-23 01:17] jmrozanec commented on #280
@pojaszek yes, that is right. Our question is whether you can migrate to 7.0.0 so that this issue no longer affects you.
In any case, we will dig into this issue, provide a solution and release it.

[2017-11-23 06:48] Naxos84 commented on #281
I investigated it a bit. It seems that `CronType.QUARTZ` is used cause otherwise the error message would be different.

[2017-11-23 07:09] soriniulus commented on #281
Yes, `CronType.QUARTZ` is used.

[code]
[CronUtilsTest.zip](https://github.com/jmrozanec/cron-utils/files/1498257/CronUtilsTest.zip)

[2017-11-23 07:22] Naxos84 commented on #281
I already made a pullrequest for this test case.
Apparently I didn't reference this issue correctly.

[2017-11-23 07:25] Naxos84 commented on #281
But I just canceled the pullrequest cause then we would have a failing build in master branch.
@jmrozanec could you please create a branch so that I can make a pullrequest to it?

[2017-11-23 09:26] pojaszek commented on #280
I have just bumped lib & migrated to 7.0.0. No need to providing workaround in 6.x.x version.

Thanks

[2017-11-23 13:14] jmrozanec commented on #281
@Naxos84 please submit the test to master, commenting the test but referencing the issue number in a comment. Thanks!

[2017-11-23 13:21] jmrozanec commented on #280
@pojaszek great to hear that! 😄

[2017-11-23 14:03] jmrozanec opened #284 "Add sonarcloud"
Add [sonarcloud](https://sonarcloud.io/) to get additional reports about code quality.

[2017-11-23 18:19] Naxos84 commented on #284
You ca assign this to me in You like. There is just 1 step that you need to do yourself. That is: set a token in travis build Job.

[2017-11-24 03:29] jmrozanec commented on #284
@Naxos84 thank you for encouraging the use of this tool! [Here we have the dashboard](https://sonarcloud.io/dashboard?id=cron-utils) reporting the first run!

[2017-11-24 03:29] #284 closed

[2017-11-24 03:42] jmrozanec opened #285 "Fix sonarcube issues."
Provide fixes for issues detected at [sonarcube](https://sonarcloud.io/dashboard?id=cron-utils)
Our priorities are:
- bugs
- vulnerabilities
- smells

We aim to get an "A" in each of those categories.

[2017-11-24 07:03] Naxos84 commented on #285
Should the issues in unit tests also be fixed?
If not. Please consider configuring it properly.

[2017-11-24 14:03] Pitel opened #286 "NoSuchMethodError"
[code]

[code]

Running on Android 7.1.1 (Chromebook)

[2017-11-24 14:26] jmrozanec commented on #286
@Pitel thank you for reporting this! Which version of Android do you use? May we ask you for a test? Thanks!

[2017-11-24 14:29] Pitel commented on #286
Android 7.1.1. Yes, you can send me a test.

[2017-11-24 14:33] jmrozanec commented on #285
@Naxos84 is taking over this issue. We will be glad to merge the fixes into master! Thanks!

[2017-11-24 15:09] jmrozanec commented on #286
@Pitel thanks! If you have a test to reproduce the issue, we will be glad to merge into master. Thanks!

[2017-11-25 21:14] curioustechizen commented on #267
Sorry, I have not been closely following the recent changes in cron-utils so I've not looked into how the Java and Android branches were unified.

The `androidTest` folder was originally introduced because I wanted to have the tests run on an Android device/emulator. The tests in`test` folder run on a desktop JVM. Passing JVM tests do not mean that the tests will pass on Android. The AndroidManife

[2017-11-25 21:19] jmrozanec commented on #267
@curioustechizen thank you for the response! With release 7.0.0 we moved towards jdk8 since we understand the features we require are fully supported in the latest Android version. For earlier Android versions, cron utils 6.x.y can be used.

[2017-11-26 10:18] curioustechizen commented on #267
@jmrozanec ah okay in that case AndroidManifest.xml can be removed too.

[2017-11-26 16:22] SvenssonWeb commented on #285
A minor analysis of the issues shows that every file gets an error on the copy right disclaimer.
This should probably be fixed with configuration on sonar side.

[2017-11-26 16:25] Naxos84 commented on #285
I will also fix this. Because the copyright/license should be placed above
the package Definition!

Am 26.11.2017 17:22 schrieb "Fredrik Svensson" <notifications@github.com>:

[2017-11-27 06:34] Naxos84 commented on #285
See also: http://www.oracle.com/technetwork/java/codeconventions-141855.html

[2017-11-27 07:49] Pitel commented on #286
You mean like test project? I don't think it's necessary. The [`comparingInt`](https://developer.android.com/reference/java/util/Comparator.html#comparingInt(java.util.function.ToIntFunction<?%20super%20T>)) method you're using is available since Android 6 (API 24, first version which support Java 8). So the test would be asi simple as:
1. Start Android Studio
2. Create new project with `minSdk` <

[2017-11-27 10:49] jmrozanec commented on #286
Yes, we understand that. From release 7.0.0 we support Android 24+ If using earlier Android versions, please consider using an earlier cron-utils release (6.x.y)

[2017-11-27 10:49] #286 closed

[2017-11-27 11:46] Pitel commented on #286
Fair enough :)

Maybe this information should be mentioned in README or somewhere more visible.

[2017-11-27 12:18] jmrozanec commented on #286
@Pitel done! Thank you for the suggestion!

[2017-11-30 02:28] jmrozanec opened #289 "Bad last execution time"
A test is provided at class Issue143Test.

[2017-11-30 03:39] jmrozanec commented on #285
@Naxos84 Issues at "test" should be fixed as well. But we should not perform coverage analysis over tests: this is something must be fixed with a configuration.

[2017-11-30 07:15] Naxos84 commented on #285
@jmrozanec I'm not sure what you (exactly) mean by that.

[2017-12-01 18:29] charleshope opened #291 "Custom Def with 3 required fields behaves oddly"
Creating a custom CronDefinition with only 3 required fields is legal to instantiate, but the parser considers an expression with 4 fields as an error:

Test case in  #292

[2017-12-01 23:21] jmrozanec commented on #291
@charleshope Thank you for reporting this!

[2017-12-02 02:11] jpotts2 opened #293 "lastExecution time incorrect when in prior month vs. reference time and using month filter"
Given a reference time on 12/1/2017
And a Unix cron
When lastExecution called
Then return 11/30/2017

Fails with the following crons:

[code]

[2017-12-02 04:04] #293 closed

[2017-12-02 04:09] jmrozanec commented on #293
@jpotts2 thank you for reporting the issue and contributing a solution to it!

[2017-12-02 05:08] jpotts2 commented on #289
@jmrozanec,

I am not sure that the expected date in testCase3 on line 76 is correct.

Cron in this test:

`0 0 12 31 1/1 ? *

Quarts docs:
http://www.quartz-scheduler.org/documentation/quartz-2.x/tutorials/crontrigger.html

While the test asserts 2015-12-31 at 12:00 noon, the actual result is 2016-10-31 at 12:00 noon. Given the starting date of 2016-12-20, I think the actual result is correct.

[2017-12-02 05:16] jpotts2 commented on #289
Created a pull request: #295

[2017-12-02 13:01] jmrozanec commented on #289
@jpotts2 Merged! Thanks!

[2017-12-02 13:01] #289 closed

[2017-12-05 20:49] rhanton opened #297 "Expressions are not comparable objects, no implementation of equals & hashcode"
I'm working on a system where I'm using cron-utils to simplify the creation/manipulation of a series of scheduled time periods, so I have a Cron that represents the start of all related periods and another Cron that represents the end of those periods. This is becoming somewhat challenging because I cannot easily verify that one field expression = another field expression using .equals(). Could we

[2017-12-05 20:52] jmrozanec commented on #297
@rhanton thank you for reporting this. May we ask you to provide some test cases highlighting the use case? Thanks!

[2017-12-05 22:55] rhanton opened #299 "Descriptor methods could be publically available"
If someone wants to utilize the I8N methodology in CronDescriptor in a piecemeal way, it is currently impossible to access those methods. To do so requires creating a local modified copy of all classes under src/main/java/com/cronutils/descriptor

[2017-12-06 02:33] jmrozanec commented on #299
Solved with PR #298 Kudos to @rhanton!

[2017-12-06 02:33] #299 closed

[2017-12-06 08:57] Naxos84 commented on #3
[code]
This gives: every 4 seconds every 6 minutes every 8 hours every 2 days every February months every 2 year
After fixing a formatting issue during runtime.

[2017-12-06 09:02] Naxos84 opened #300 ""3/4 5/6 7/8 9/2 10/2 ? 2017/2" throws UnknownFormatConversionException"
[code]

When running this I get the following Exception.

`java.util.UnknownFormatConversionException: Conversion = 'p'
	at java.util.Formatter$FormatSpecifier.conversion(Formatter.java:2691)
	at java.util.Formatter$FormatSpecifier.<init>(Formatter.java:2720)
	at java.util.Formatter.parse(Formatter.java:2560)
	at java.util.Formatter.format(Formatter.java:2501)
	at java.util.Formatter.format(Format

[2017-12-06 12:16] jmrozanec opened #302 "Get proper status when building PRs"
Currently, we do not get proper build status on PRs, making it difficult to oversee the build status we will get once we merge the PR.
@Naxos84 pointed out some plugins that may help with sonarqube:
- [github-plugin](https://docs.sonarqube.org/display/PLUG/GitHub+Plugin)
- [multi-language-project](https://www.sonarqube.org/?id=test%253Amulti-language-project)

[2017-12-06 12:24] Naxos84 commented on #302
The thing about the build job is that the used sonar-scanner command is not available for PR's.
But as it can be seen [here](https://github.com/bellingard/sample_multi-language-project) it is possible to integrate sonarcloud analysis the same way as it is done with codacy. Also PR's can be analysed with this.

[2017-12-06 12:54] Naxos84 commented on #285
This is mostly done. Basic sonarcloud is achieved.
All issues are fixed so that we have an A-rating.

So I think this issue can be closed.

[2017-12-06 16:31] rhanton commented on #299
Thanks @jmrozanec for accepting the contribution!

[2017-12-07 10:30] jmrozanec commented on #285
@Naxos84 thanks!

[2017-12-07 10:30] #285 closed

[2017-12-13 14:30] thebhushanp opened #305 "QUARTZ : Incorrect result ?"
I want to get "Every alternate 15th August starting from 2015"
So I have written following code for it but it is giving wrong result. Am I doing anything wrong or this is a bug ?

[code]

Expected result
2015-08-15T00:00Z[UTC]
2017-08-15T00:00Z[UTC]
2019-08-15T00:00Z[UTC]

Actual result
2015-08-15T00:00Z[UTC]
2016-08-15T00:00Z[UTC]
2018-08-15T00:00Z[UTC]
2020-08-15T00:00Z[UTC]

[2017-12-18 13:51] jmrozanec commented on #305
@thebhushanp thank you for reporting this! May we ask for a PR with a test for it? Thanks!

[2017-12-19 18:25] jmrozanec opened #306 "Create API for next workday execution"
Develop something similar to this python package: https://github.com/ogt/workdays

[2017-12-30 06:08] LennyKarpel opened #308 "Incorrect description for Quartz Cron Expression: 0 0 11 L-2 * ?"
Currently the description returned is 'at 11:00 last day of month'. Should be described as happening at 11:00 **_two days before_** the end of the month.

[2017-12-30 16:29] jmrozanec commented on #308
@LennyKarpel Thank you for reporting this! May we ask for a PR with a test for this issue? Happy New Year!

[2017-12-30 17:09] LennyKarpel commented on #308
@jmrozanec Happy New Year to you too !!

I am new this this. How do I create a PR if I cannot create a branch to put the changes on ?

The test would be something like:
[code]
anyway .. hope that helps. Let me know if I can do more.

[2017-12-30 17:47] Naxos84 commented on #308
Fork this repo.
Then add your branch (if you like). Push the changes to your forked repo.
After that you can create the pull request.

Am 30.12.2017 18:09 schrieb "Lenny Karpel" <notifications@github.com>:

[2018-01-06 13:42] #262 closed

[2018-01-10 22:04] L4grange opened #309 "Android API below 24 Throws java.lang.NoSuchMethodError"
Hello guys. First I want to thank you for this great library!

I'm building a mobile app with heavy cron manipulation and this library has helped a ton, doing all the parsing automatically. The library works great on android 6+ (using release 6.0.5 since I need to support Android versions 4.2+)

However, on android 4 and 5, the CronParser throws an exception in the constructor when calling `buildP

[2018-01-11 01:42] jmrozanec commented on #309
@L4grange thank you for reporting this! We are glad the library is useful to you! 😄  Reviewing the versions, you may find version 6.0.2 fits your needs. Please let us know if works :) Best!

[2018-01-11 10:12] L4grange commented on #309
Thank you for your suggestion! Unfortunately when using version 6.0.2 I cannot build the project since grade is giving me the following error:

`
Error:Execution failed for task ':app:transformResourcesWithMergeJavaResForDebug'.

`

I have not been able to resolve this yet, and the only version I can successfully build with is 6.0.4 and up which do not contain the duplicate files. Any other sugges

[2018-01-11 12:23] jmrozanec commented on #309
@L4grange we have no other suggestions. Perhaps you can download manually and make some changes? In that case, we would be glad to merge the changes in a branch and perform a new 6.x.y release, so that the whole community would benefit from it.

[2018-01-14 00:29] L4grange commented on #309
Thank you, I'll take a look on Monday and let you know if I have any luck!

[2018-01-15 15:00] L4grange commented on #309
Unfortunately, I was not able to import the library as a standalone module in my Android Project, but I created a Class named AndroidCronParser to do a simple modification to get cron-utils v6.0.5 working on Android 4+:

I simply replaced the line `sortedExpression.sort(CronParserField.createFieldTypeComparator());` with:
`
if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.N) {
			sortedExpression.

[2018-01-15 15:04] jmrozanec commented on #309
@L4grange Thanks! If you send us a PR, we will be glad to perform a release with it! Thank you for the update! 😄

[2018-02-27 15:34] alenkacz opened #310 "Handle CRON expression that will never be true"
The library incorrectly handles e.g. this cron expression "0 0 31 2 *" (31.2. which will never be true). What happens when you try to compute the nextExecution for such expression is:
ExecutionTime.nextExecution ends up in an infinite loop incrementing year over and over...

As a solution I propose following:
- add validation for these cases in CronConstraintsFactory
- handle this infinite loop in

[2018-02-27 15:37] jmrozanec commented on #310
@alenkacz Hi! Thank you for reporting this! We will be glad to merge the fix if you send us the PR! We look forward to it! 😄

[2018-02-27 15:57] kensipe commented on #310
@jmrozanec we have a scala solution here:  https://github.com/dcos/metronome/pull/202
It good to connect again!

Alena is working on a patch for cron-utils now...
@alenkacz love the idea of a max iterations which would prevent issues for anything else not covered!

[2018-02-27 16:34] jmrozanec commented on #310
@kensipe great to connect again! Thank you for the insight! When merged, you can soon expect a new release with the fix. Thanks!

[2018-02-28 09:25] dmitrijs-rjazanovs opened #312 "lastExecution method works unexpectedly"
We have configured quartz2 batch job with following cron: 0 0 20 * * ? * so every day at 20:00.
Our batch job must take some data 1 day before from 20:00. As long as we are not sure that job will triggers in exactly 20:00, we also trying to parse this cron job with following aproach:
ExecutionTime.forCron(quartzCron).lastExecution(ZonedDateTime.now()).get().toLocalDateTime();
I expect that lastExe

[2018-02-28 16:20] jmrozanec commented on #312
@dmitrijs-rjazanovs thank you for reporting this. May we ask for a test, reproducing the issue? We shall find another way to solve the bug rather than using a thread.sleep. You are welcome to help us find a solution for this! Thanks!

[2018-03-01 13:00] toby1984 opened #314 "release 7.0.1: Serialization of com.cronutils.model.Cron instances broken because of javax.ejb.ScheduleExpression dependency with wrong scope"
The pom.xml declares dependency with scope 'provided' , so using the artifact in another project will not pull in the J2EE API jar.

[2018-03-01 15:16] jmrozanec commented on #314
@toby1984 thank you for reporting this! Will work on this and reach back. Thanks!

[2018-03-01 17:51] alenkacz commented on #310
@jmrozanec I will still follow up with the validation code in next days...

[2018-03-01 19:25] jmrozanec commented on #310
@alenkacz Thanks!

[2018-03-01 20:22] toby1984 commented on #314
Sorry, I just now realized that you're intentionally using J2EE because of issue 262 and that the J2EE API dependency was never a part of the regular JDK... so this issue is not related to JDK.

I guess you should just update the README file and state that the J2EE dependency is required during runtime when using reflection.

[2018-03-02 12:43] jmrozanec commented on #314
@toby1984 we updated the README.md. But we agree the underlying issue would be if we can keep Cron instance serializable. Is this possible or shall we work towards a solution for it?

[2018-03-11 02:03] roddy opened #315 "CronBuilder withDoW using Quartz syntax is off by one"
I tried to write a cron using the `CronBuilder` that modelled the idea of "every Friday at 12:00." I'm using Quartz syntax. Since I couldn't find an example anywhere for `withDoW`, I muddled about until I got this:

[code]

The result is *almost* right -- it results in `0 0 12 ? * 5 *`. Unfortunately, "5" is Thursday in Quartz, not Friday, since Quartz sets 1 to Sunday and 7 to Saturday.

I *think

[2018-03-11 14:25] jmrozanec commented on #315
@roddy Thank you for reporting this. This is a bug 😄 When you define a Quartz cron expression, it also contains the weekdays mapping: (see the `withMondayDoWValue()`)

    CronDefinitionBuilder.defineCron()
                .withSeconds().and()
                .withMinutes().and()
                .withHours().and()
                .withDayOfMonth().supportsL().supportsW().supportsLW().supportsQuest

[2018-03-13 12:40] MrKuip opened #316 "Updated dutch translation"
I have updated the dutch translation.
I hope you can include it in one of the next releases.

[CronUtilsI18N_nl.zip](https://github.com/jmrozanec/cron-utils/files/1806856/CronUtilsI18N_nl.zip)

[2018-03-13 12:50] jmrozanec commented on #316
@MrKuip Thank you for sending an enhancement to the Dutch translation! We will merge it by EOD. You can expect a new release with it by end of month. Best!

[2018-03-13 13:23] morvael opened #317 "cron-utils.log appears on its own"
I have only attached cron-utils as a compile dependency in Maven project, and after building that project ".\target\cron-utils.log" file appears in project directory. Why is that?

[2018-03-13 17:21] jmrozanec commented on #317
@morvael thank you for reporting this. We should change the logging appender, based on context so that the default would be logging into a console and not a file. Will work on fixing it. Best!

[2018-03-14 00:36] jmrozanec commented on #316
@MrKuip fixed! Thanks!

[2018-03-14 00:36] #316 closed

[2018-03-14 01:16] jmrozanec commented on #317
@morvael Fixed! Thanks for pointing this out!

[2018-03-14 01:16] #317 closed

[2018-03-14 01:56] jmrozanec commented on #315
@roddy we developed a solution for this case and will be glad to receive your input before closing the issue. From now on, you would be able to specify proper DoW values using the following expressions:

        CronDefinition cronDefinition = CronDefinitionBuilder.instanceDefinitionFor(CronType.QUARTZ);
        CronBuilder builder = CronBuilder.cron(cronDefinition)
                .withYear(alway

[2018-03-14 02:10] jmrozanec commented on #310
@alenkacz do we have any updates on this?

[2018-03-14 02:11] #306 closed

[2018-03-14 02:35] jmrozanec commented on #314
@toby1984 we just refactored the code in order to make Cron serializable in every case, without the J2EE dependency. Thank you for pointing it out!

[2018-03-14 02:35] #314 closed

[2018-03-14 02:38] jmrozanec commented on #297
@rhanton we are closing the issue due to inactivity. Thanks!

[2018-03-14 02:46] #297 closed

[2018-03-14 04:48] roddy commented on #315
This is a great solution! Since it relies on the same CronDefinition, I can switch out the backing syntax just by adjusting the definition in one place.

Quick turnaround too -- nicely done. :grinning:

[2018-03-14 06:02] toby1984 commented on #314
Thank you guys, you're doing a great job !

[2018-03-14 07:51] morvael commented on #317
What amazed me was the fact that I have only added a dependency, didn't use any code, and it appeared during _only_ compilation :) Something from cron-utils pom that runs triggers it?

[2018-03-14 11:00] #315 closed

[2018-03-14 11:56] #310 closed

[2018-03-14 12:18] jmrozanec commented on #314
@toby1984 thanks! :smile

[2018-03-14 12:36] alenkacz commented on #310
I'll do it this week, but feel free to keep it closed :)

[2018-03-14 12:41] jmrozanec commented on #310
@alenkacz thanks!

[2018-03-14 14:27] jmrozanec commented on #317
@morvael not sure - perhaps on how dependencies are managed. We removed the logging settings that route it into a file, since are no longer needed, and that also solves the issue.

[2018-03-15 00:01] jmrozanec commented on #277
cron-utils-cli extracted to https://github.com/jmrozanec/cron-utils-cli

[2018-03-15 02:34] jmrozanec commented on #168
@TuomasKiviaho the feature is implemented! Will be deployed soon! Thanks! 😄

[2018-03-15 02:34] #168 closed

[2018-03-15 02:57] jmrozanec commented on #277
cron-utils-rangesets extracted to https://github.com/jmrozanec/cron-utils-rangesets

[2018-03-15 02:57] jmrozanec commented on #168
@TuomasKiviaho the feature was extracted to its [own repo](https://github.com/jmrozanec/cron-utils-rangesets), to avoid the Guava dependency at the core library.

[2018-03-15 03:01] #277 closed

[2018-03-16 13:40] mattadamson opened #318 "Multiple CRON expressions"
Team,

Do you know if it's possible to use multiple CRON expressions in a single definition? CRON provides a lot of flexibility within each given time unit however it would be nice to combine them too

Thanks

[2018-03-16 15:30] jmrozanec commented on #318
@mattadamson Hi! May we ask you for an example, how you envision this?

[2018-03-17 12:33] jmrozanec commented on #318
@mattadamson how about this format:
    "0 0 1 1 *": run every year on January 1st at 12:00AM
    "0 0 2 3 *": run every year on March 2nd at 12:00AM
we merge them into a single expression, pipe-separating cron values from the original definitions:
    "0|0 0|0 1|2 1|3 *|*"
which can be simplified to just the fields that hold different values:
    "0 0 1|2 1|3 *"

[2018-03-17 18:12] jmrozanec commented on #318
@mattadamson A first approach was outlined at [multicron branch](https://github.com/jmrozanec/cron-utils/tree/multicron) Your feedback would be valuable for further development.

[2018-03-18 14:18] mattadamson commented on #318
Thanks @jmrozanec! Actually the use case I was thinking maybe even be something a custom format could support. Although I'm not clear how you'd create it however your main help page mentions custom formats.

We'd like to assign a CRON expression to specify a task should be run at arbitary times during the day e.g. 9:00 AM 10:00 AM 11:30 AM 12:00 AM.

This CRON expression obviously maps to 9:30 ->

[2018-03-19 09:30] francisdb commented on #318
why not 2 cron extressions with a spearator in between?

[2018-03-19 12:41] jmrozanec commented on #318
@francisdb is another possibility. Thanks! My concern would be how can we keep those expressions clear and readable, even if we stack multiple expressions.

[2018-03-19 12:48] jmrozanec commented on #318
@mattadamson is not clear to me the case you request. The example you mention should execute always every 30 minutes between 9 and 12? If so, the expression `0 0,30 9-12 ? * * *` would solve it. If we aim for running at arbitrary times in a range, this feature does not comply with standard cron definitions,  but we can introduce a notation, to specify it. Example: `0 0,30 r9-12 ? * * *`: by using

[2018-03-20 11:27] mattadamson commented on #318
thanks guys. No we would like specific times listed for any given day i.e.

9:00 AM 10:00 AM 11:30 AM 12:00 AM.

This doesn't fit any pattern of every x minutes as they are irregular intervals. We really want to specify all values in the single expression if possible. The framework also doesn't support multiple expressions however if it can be extended in any form to support this requirement it wo

[2018-03-20 11:27] mattadamson commented on #318
thanks guys. No we would like specific times listed for any given day i.e.

9:00 AM 10:00 AM 11:30 AM 12:00 AM.

This doesn't fit any pattern of every x minutes as they are irregular intervals. We really want to specify all values in the single expression if possible. The framework also doesn't support multiple expressions however if it can be extended in any form to support this requirement it wo

[2018-03-21 11:59] jmrozanec commented on #318
@mattadamson handling multiple crons in a single expression is possible and its addition would be a great feature. As for building expressions for a specific date, we should build a new specification. Will dig into this and come back with a proposal. Quartz handles the case using a specific builder, decoupled from the cron expressions - perhaps that would be the way to go.

[2018-03-24 04:44] jmrozanec commented on #318
@mattadamson @francisdb we implemented the feature! cron-utils supports multi-cron notation, which can be used for the case exposed by @mattadamson achieving irregular patterns by combining multiple crons. The final notation we support is `0 0|0|30|0 9|10|11|12 * * ? *`
The crons can be created by combining multiple crons of same cron definition as well as by parsing a string expression that follo

[2018-03-24 04:44] #318 closed

[2018-03-24 12:27] #263 closed

[2018-03-24 12:46] jmrozanec commented on #263
@SvenssonWeb the issue was solved using the multi-cron feature!

[2018-03-24 19:35] jmrozanec commented on #3
@francisdb @Naxos84 we are getting back to this issue - this time would like to explore using some machine learning to achieve the objective. We would take current English descriptions as the original text to be translated by a deep learning model into a better human-readable text, which may be in English or another language. For this we should:
- develop a dataset, with current descriptions and d

[2018-03-26 05:41] Naxos84 commented on #3
@jmrozanec I don't have any experience in machine learning. But this sound interesting and therefore we should give it a try. :)

[2018-03-26 12:23] cbgxhub opened #319 "ExecutionTime.previousClosestMatch(2018-03-26T01:59:59+02:00[Europe/Berlin]) goes into endless loop due daylight savings change"
ExecutionTime.previousClosestMatch(2018-03-26T01:59:59+02:00[Europe/Berlin]) goes into endless loop due to daylight savings Change (At 2am)

Problem is reproducable on Unix and Win7 in TimeZone 'Berlin';

I used:
        <dependency>
           <groupId>com.cronutils</groupId>
           <artifactId>cron-utils</artifactId>
           <version>7.0.1</version>
        </dependency>

ExecutionTime.pr

[2018-03-26 12:54] jmrozanec commented on #319
@cbgxhub thank you for reporting this! May we ask for a PR with the corresponding test? Thanks!

[2018-03-26 12:56] jmrozanec commented on #3
@Naxos84 Great! We have been experimenting with Neural Machine Translation with good results up to now. Soon will be posting code we used to generate training samples and will request some help to generate new patterns so that we cover a wider range of cases. Thanks!

[2018-03-27 08:04] Naxos84 commented on #318
the build fails due to some tests.

https://travis-ci.org/jmrozanec/cron-utils/builds/357684825?utm_source=github_status&utm_medium=notification

Line 1129.

Even though it failed it exited with "0" --> ok.
Is this intended?

[2018-03-27 12:03] cbgxhub commented on #319
Hi jmrozanec,

The email that you sent me is corrupt, please use my previous description for PR.

Here Test Code to reproduce the problem:
Please note that this code/Junit test will hang at ‘2018-03-25T02:00’ !!

            CronParser cronparser = new CronParser(CronDefinitionBuilder.instanceDefinitionFor(CronType.UNIX));

            @Test
            // Daylightsaving change in EU is - 2018-03-

[2018-03-27 19:46] jmrozanec commented on #319
@cbgxhub Thanks! Will merge the test into master and comment the test annotation to avoid running until the issue is fixed.

[2018-03-28 05:14] mattadamson commented on #318
thanks jmrozanec this is indeed perfect for the requirement.  so using 0 0|0|30|0 9|10|11|12 * * ? * could suffice then.  It would be great if we could resolve the test issues causing the build to fail. Do you need any input from me?

Also would this new CRON expression also support the other time portions e.g. if we wanted to restrict to specific days / months?

[2018-03-28 10:46] jmrozanec commented on #318
@mattadamson the new expression supports this notation at all cron field levels. As for the build, all tests are passing. Please let us know if you have any issues with that. A new version will be released soon. Best!

[2018-03-28 14:31] mattadamson commented on #318
thanks @jmrozanec. I actually tried to run the test provided however it fails

 @Test
 +    public void testParseMulticron(){
 +        String multicron = "0 0|0|30|0 9|10|11|12 * * ? *";
 +        parser = new CronParser(CronDefinitionBuilder.instanceDefinitionFor(CronType.QUARTZ));
 +        Cron cron = parser.parse(multicron);
 +        assertEquals(multicron, cron.asString());
 +    }

java.la

[2018-03-28 16:19] jmrozanec commented on #318
@mattadamson are you importing version 7.0.1 or cloning from master and compiling it locally? Multicron was implemented, but a release was not issued yet with it ...

[2018-03-28 19:08] mattadamson commented on #318
I cloned and switched to the multicron branch then did a full build. I then referenced 7.0.2 snapshot from my project.

[2018-03-28 19:39] jmrozanec commented on #318
@mattadamson please do not switch to the multicron branch: the correct and full implementation is already in master. Thanks!

[2018-03-29 12:11] mattadamson commented on #318
thanks @jmrozanec. This appears to work well on initial tests. It would be great if we could get this in a release soon.

[2018-03-29 12:19] jmrozanec commented on #318
Sure! We are finishing a track for improving Cron descriptions, which will alter the original API. If the feature delays more than a week, we will release with current state.

[2018-04-03 11:23] mattadamson commented on #318
ok thanks @jmrozanec looking forward to this

[2018-04-03 11:43] kangtajt007 opened #320 "quartz cron convert to spring schedule cron"
That's a wonderful project, but I met some problem: we use spring schedule in our project.
When we use the cron-utils builder a cron expression， it seems to be the format of quartz which is 7 units，but we need the spring schedule format which is 6 units. How to resolve it?
  Thanks very much!

[2018-04-03 13:42] jmrozanec commented on #320
@kandatajt007 this snippet may solve the issue:

    CronDefinitionBuilder.defineCron()
                .withSeconds().and()
                .withMinutes().and()
                .withHours().and()
                .withDayOfMonth().supportsL().supportsW().supportsLW().supportsQuestionMark().and()
                .withMonth().and()
                .withDayOfWeek().withValidRange(1, 7).withMondayDoWV

[2018-04-04 02:45] kangtajt007 commented on #320
@jmrozanec  Thks  a lot, This is very useful for us. We test with those code.
[code]

[2018-04-04 05:39] #320 closed

[2018-04-05 11:47] jmrozanec commented on #320
@kangtajt007 Thanks! Next release will include this definition along with the quartz() and unix() 😄 Best!

[2018-04-05 16:20] mattadamson opened #321 "Time zone handling of CRON expressions"
All,

I realised this might not be the sole responsibility of the cron utils library however I'd appreciate others input on how they might handle this. Typically we'd have code such as

		final ZonedDateTime now = ZonedDateTime.now(ZoneOffset.UTC);
		final CronParser cronParser = new CronParser(cronDefinition);
		final Cron scheduleFrequencyCron = cronParser.parse(exportScheduleFrequency);
		final

[2018-04-05 16:29] jmrozanec commented on #321
@mattadamson glad you ask this! Usually, a cron refers to a pattern and will execute against local time - has no knowledge of different time zones. #243 requests migrating a cron from local to another time zone. Would that help on this feature? By migrating the expression to servers time and requesting next execution in servers timezone, should return the required time (and could be eventually con

[2018-04-11 13:01] L4grange opened #322 "Next Execution Time is wrong"
Hello. I'm using this library in my app and I need to get the next execution time of a cron and compare it to "now".

However, when the "now" time is too close to the cron's next execution time (I'm testing 1-2 minutes difference), the next execution time is not the immediate next (in today), but the one after the next, which in my case is the next day (tomorrow), since I have a cron scheduled for

[2018-04-26 13:03] kemalerden opened #324 "Cairo time zone causing infinite loop for the 27th of April"
public static void main(String[] args) {
        CronDefinition cronDefinition =
            CronDefinitionBuilder.defineCron()
                .withSeconds().and()
                .withMinutes().and()
                .withHours().and()
                .withDayOfMonth()
                .supportsHash().supportsL().supportsW().and()
                .withMonth().and()
                .withDayOfWeek()

[2018-04-26 13:05] jmrozanec commented on #324
@kemalerden thank you for reporting this! Won't you mind sending a PR with the test for this case? We will be glad to merge it and start working on a solution. Thanks!

[2018-04-26 13:54] Naxos84 commented on #324
@kemalerden I modified the console outpu a bit and got:

What do you expect to be the previous execution before reference?

[2018-04-26 14:37] kemalerden commented on #324
Hi,
I get an infinite loop at that point using jdk1.8 and cron utils 7.0.1. The call won’t return so it won’t show any output.

[2018-04-26 15:13] Naxos84 commented on #324
@kemalerdem could you please verify with the latest commit from cron-utils master branch?

Cause obviously I don't get any infinite loop (see posted console output).

Thx in advance.

[2018-04-26 16:38] kemalerden commented on #324
Hi @Naxos84,
It seems to be relevant to the jdk I was using.
jdk1.8.0_40-x64 causes the loop on my machine.
tested on a different machine with jdk1.8.0_66-x64 and it worked.
both windows.
I guess you can close the issue...

PS: the loop seems to be on this value:

ExecutionTimeResult{time=2018-04-27T23:00+03:00[Africa/Cairo], isMatch=false}
ExecutionTimeResult{time=2018-04-27T23:00+03:00[Africa/Ca

[2018-04-26 17:47] jmrozanec commented on #324
@kemalerden @Naxos84 thank you both for such a quick response! Shall we close the issue?

[2018-04-26 19:17] Naxos84 commented on #324
I'm curious why this happens with this java version.

But yes you can close it for now.

[2018-04-27 08:51] kemalerden commented on #324
@Naxos84
Thanks for looking into this.
seeing same issue on jdk1.8.0_45-x64 on a linux box as well - maybe a fix was made on java timezones, zoneIds on a later version?
can be closed from my side...

[2018-04-27 09:17] mattadamson commented on #318
Hi @jmrozanec, do you know when a new release might be happening? Thanks

[2018-04-27 11:50] jpnffigueiredo opened #325 "Log4j root logger level"
Hi,

Why do you use log4j.rootLogger=DEBUG ... ? Using your lib in other applications is affecting existing logging configurations.

Can you consider use something like this:
``
log4j.category.com.cronutils=DEBUG, stdout
``

Or even this:
``
log4j.category.com.cronutils=INFO, stdout
``

[2018-04-27 12:50] jmrozanec commented on #318
@mattadamson we apologize a new version was not released yet. We got some issues with the release process and we are working on it to fix it as soon as possible. Will keep you updated. Thanks!

[2018-04-27 12:51] jmrozanec commented on #325
@jpnffigueiredo thank you for reporting this. Will fix soon and include in the next release. Thanks!

[2018-05-08 14:19] tylergets commented on #309
I submitted PR #326 to get started on fixing this issue.

[2018-05-10 12:33] lukas1984 opened #327 "System messages need to be differentiated"
System messages like "at" can be translated in multiple ways, depending on each language's grammar.

For example, in Italian:
"at 6:00" -> "alle 6:00"
"at 10 minutes" -> "al minuto 10"

Currently it is not possible to correctly translate, because there is only one "at" message. There should be one for each case.

[2018-05-10 18:49] jmrozanec commented on #327
@lukas1984 thanks for pointing this out! We are working on it with some neural translation models. We hope this will provide us better translations. Will post some code soon. Thanks!

[2018-05-15 11:27] hokuto-k opened #328 "The differences between lastExecution & nextExecution"
Hello, I have one question about the subtle difference between `ExecutionTime#lastExecution()` & `nextExecution()`. Not that I'm using version 7.0.1.

## example
If we use the following cron expression with UNIX style:
[code]
and current time is 19:45, last execution time may be 19:30 (truncated to minutes) and next may be 20:30 as well as last one.

However, the current implementation is not the

[2018-05-15 11:29] hokuto-k commented on #328
Actually, I wanted to calculate a gap of both, in the example above, 60 minutes (= 3600 seconds = 3600000 milliseconds).

[2018-05-15 12:55] jmrozanec commented on #328
@hokuto-k thanks for reporting this! Actually is not an intentional result: next/previous execution have no milliseconds specification, but I would assume truncating would be the expected result, so that we always get the same output date to a given time - otherwise next/previous wouldn't be comparable for dates differing only at milliseconds level. If you submit a PR we will be glad to merge it!

[2018-05-16 15:13] catharsis opened #329 "ExecutionTime.nextExecution() causes infinite loop for non-existent dates"
Reproduced by:
[code]

[2018-05-17 06:18] jmrozanec commented on #329
@catharsis thank you for reporting this. We just merged the test to master, but we are unable to reproduce the issue. May we ask for the version you are working on? Maybe the issue was solved. Thanks!

[2018-05-17 06:56] catharsis commented on #329
@jmrozanec Interesting! I'm on `7.0.1`, which I believe is the latest released version (though I'd be happy to hear I'm wrong about this :smile:).

[2018-05-17 06:59] jmrozanec commented on #329
@catharsis perhaps a change we introduced for 7.0.2 fixes the issue. Will keep you posted when we release the new version! Thanks!

[2018-05-17 06:59] #329 closed

[2018-05-17 07:59] Naxos84 commented on #329
What is your time zone when executing the infinite loop test.

jmrozanec <notifications@github.com> schrieb am Do., 17. Mai 2018, 08:59:

[2018-05-17 08:06] catharsis commented on #329
@Naxos84 I'm currently at `CEST`, though I don't think any time zone will ever see a 30th of February(?).

This test has the same behavior as the one in the original report, for example:
[code]

[2018-05-17 08:11] catharsis commented on #329
@jmrozanec skimming the log since `7.0.1`, I found commit https://github.com/jmrozanec/cron-utils/commit/7a0565dcf48cf65773a6ebf476f4a3bfa38205a4, which presumably is why our experiences differ. Do you have any plans to do a new release any time soon?

[2018-05-17 08:11] jmrozanec commented on #329
@Naxos84 @catharsis I think was solved with [this fix](https://github.com/jmrozanec/cron-utils/pull/311)

[2018-05-17 08:13] jmrozanec commented on #329
@catharsis we had some issues releasing a new version. Will work on it and deliver by monday. Will post an update when released.

[2018-05-17 08:14] catharsis commented on #329
Yup, this is a duplicate of https://github.com/jmrozanec/cron-utils/issues/310. Sorry, I should've looked through the closed issues before posting a new issue :disappointed:

[2018-05-17 08:25] jmrozanec commented on #329
@catharsis no worries! Thanks for reaching out! We have one more reason to release asap 😄

[2018-05-17 17:17] Naxos84 commented on #329
Sorry. I read to fast and didn't see that it was the 30th of February:-D

jmrozanec <notifications@github.com> schrieb am Do., 17. Mai 2018, 10:25:

[2018-05-26 01:39] hokuto-k commented on #328
@jmrozanec
Okay, I'll submit some fix for this issue.

[2018-05-26 04:34] jmrozanec commented on #328
@hokuto-k thank you for sending the PR - we will be merging soon.

[2018-05-28 16:55] #328 closed

[2018-06-02 13:38] jmrozanec commented on #328
@hokkun-dayo release 7.0.2 is now available! Thank you for contributing to cron-utils!

[2018-06-02 13:38] jmrozanec commented on #329
@catharsis @Naxos84  release 7.0.2 is now available! Thank you for contributing to cron-utils!

[2018-06-02 13:39] jmrozanec commented on #320
@kangtajt007 release 7.0.2 is now available! Thank you for contributing to cron-utils!

[2018-06-02 13:39] jmrozanec commented on #263
@SvenssonWeb 7.0.2 is now available!

[2018-06-02 13:40] jmrozanec commented on #318
@mattadamson @francisdb release 7.0.2 is now available! Thank you for contributing to cron-utils!

[2018-06-02 13:41] jmrozanec commented on #168
@TuomasKiviaho release 7.0.2 is now available! Thank you for contributing to cron-utils!

[2018-06-02 13:41] jmrozanec commented on #310
@alenkacz @kensipe release 7.0.2 is now available! Thank you for contributing to cron-utils!

[2018-06-02 13:42] jmrozanec commented on #315
@roddy release 7.0.2 is now available! Thank you for contributing to cron-utils!

[2018-06-02 13:42] jmrozanec commented on #314
@toby1984 release 7.0.2 is now available! Thank you for contributing to cron-utils!

[2018-06-02 13:43] jmrozanec commented on #317
@morvael release 7.0.2 is now available! Thank you for contributing to cron-utils!

[2018-06-02 13:43] jmrozanec commented on #316
@MrKuip release 7.0.2 is now available! Thank you for contributing to cron-utils!

[2018-06-05 02:04] #324 closed

[2018-06-05 02:05] jmrozanec commented on #324
Duplicate of #329

[2018-06-05 20:03] jmrozanec commented on #309
Merged!

[2018-06-05 20:03] #309 closed

[2018-06-27 12:59] kyleboyle opened #331 "Manifest classpath, maven dep and compiling with -Werror results in failure"
Using maven dep com/cronutils/cron-utils/7.0.2/cron-utils-7.0.2.jar

warning: [path] bad path element "~/.m2/repository/com/cronutils/cron-utils/7.0.2/slf4j-api-1.7.12.jar": no such file or directory
error: warnings found and -Werror specified
[total 81ms]
1 error
1 warning

Please remove `Class-Path: slf4j-api-1.7.12.jar` from `META-INF/MANIFEST.MF`

[2018-06-28 23:01] jmrozanec commented on #331
@kyleboyle thank you for reporting this! Will solve and release a new version asap. Thanks! 😄

[2018-07-03 01:02] jmrozanec commented on #3
We would like to invite everyone to contribute to [this repo](https://github.com/jmrozanec/cron-utils-datagen) with expression generators for different languages so that we can later create datasets and train models which would provide accurate descriptions for each case.

[2018-07-03 12:55] francisdb commented on #3
Can we not just do something like what these guys do, the NL/FR/EN results are great according to their tests
https://github.com/grahamar/cron-parser/tree/master/cron-parser-core/src/test/java/net/redhogs/cronparser

[2018-07-03 13:23] jmrozanec commented on #3
@francisdb I think they do a very good job when it comes to NL/FR/EN, but I am not so sure we can fit good descriptions for all languages to those templates. By using a neural translation approach we ensure very good quality regardless the complexities of any language.

[2018-07-12 13:42] jmrozanec commented on #325
@jpnffigueiredo Fixed! Thank you for reporting this!

[2018-07-12 13:42] #325 closed

[2018-07-12 13:47] jmrozanec commented on #331
@kyleboyle should be solved now! Thanks!

[2018-07-12 13:47] #331 closed

[2018-07-12 13:51] jmrozanec commented on #327
@lukas1984 this issue will be handled as part of #3 Will be closing this for now. You are welcome to help us generate descriptions in order to come up with good models for translation into Italian language! 😄

[2018-07-12 13:51] #327 closed

[2018-07-12 14:01] jmrozanec commented on #321
@mattadamson This will be considered as a duplicate of #243
We think of two possible cases:
- migrating the cron to another timezone (a feature we are willing to develop)
- adapting local time to servers timezone in order to compute accurate data (a computation every user can do and does not require further development from our side)
Thanks!

[2018-07-12 14:01] #321 closed

[2018-07-12 18:28] jmrozanec commented on #270
Done! Examples will be provided per release. You can check corresponding examples at [releases tab](https://github.com/jmrozanec/cron-utils-examples/releases/)

[2018-07-12 18:28] #270 closed

[2018-08-06 12:09] jmrozanec commented on #3
@Naxos84 thank you for reaching out! We are tackling the issue from several poins:
- build datasets, that will provide patterns and desired translations. We [created a repo](https://github.com/jmrozanec/cron-utils-datagen) to add dataset generators for supported languages. We aim to translate from current english descriptions provided by cron-utils to the ideal ones. Up to now we just created a ge

[2018-08-13 23:40] pkoenig10 opened #332 "Infinite loop when daylight savings time starts at midnight"
The following test will infinite loop:
[code]

When the given date is:
`2018-08-12T01:59:59-03:00[America/Santiago]`

This line repeatedly returns the given date, resulting in an infinite loop:
https://github.com/jmrozanec/cron-utils/blob/7.0.2/src/main/java/com/cronutils/model/time/SingleExecutionTime.java#L415

The evaluation sequence looks like:
[code]

Having both `plusDays` and `minusDays` ca

[2018-08-14 08:39] #332 closed

[2018-08-14 10:34] jmrozanec commented on #332
@pkoenig10 thank you for contributing to cron-utils! The PR was merged and a new version released! :smile:

[2018-08-14 20:18] wesoos opened #335 "Better descriptions"
Hello, is there a timeline for the better descriptions milestone?

[2018-08-14 20:28] jmrozanec commented on #335
@wesoos thank you for reaching out. Our main blocker is how to load a Keras model on Java - any help regarding that is welcome! If solved, we would roll out first enhanced descriptions asap. No timeline is provided by now due to that issue. Thanks!

[2018-08-14 20:34] wesoos commented on #335
Hi, I don’t anything about Keras.  I found this, which I’m sure you have also…

https://deeplearning4j.org/

Thanks
Wessel Oosthuizen

________________________________
From: jmrozanec <notifications@github.com>
Sent: Tuesday, August 14, 2018 4:28:11 PM
To: jmrozanec/cron-utils
Cc: wesoos; Mention
Subject: Re: [jmrozanec/cron-utils] Better descriptions (#335)

@wesoos<https://github.com/wesoos> tha

[2018-08-14 20:43] jmrozanec commented on #335
Hi! Yes, we saw that :smile: Perhaps we can port the model to that library and retrain using [this](https://github.com/deeplearning4j/dl4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/recurrent/encdec/EncoderDecoderLSTM.java) as an example. Thanks!

[2018-08-20 19:45] chirag100366 opened #336 "problems with every day of week"
I have a Unix cron string like "* * * * */3", which I expect to mean "At every minute on every 3rd day-of-week". That is, every Wednesday and Saturday(3rd and 6th day of a week). But I am seeing unexpected behaviour for describe(cron) , as well as  nextExecution() method.

[code]

Output:
[code]

[2018-08-21 01:30] jmrozanec commented on #336
@chirag100366 thank you for reporting this. May we ask you for a PR with the test for the issue? Thanks!

[2018-08-21 20:22] primael opened #338 "Error on french description"
When we use a quartz expression like `* * * * * ? *`, we expect `chaque seconde` as french description, but we have `chaque second`.

[code]

[2018-08-21 20:27] jmrozanec commented on #338
@primael this is solved with PR #337. May we close it? If you require a release soon, just let us know! :smile:

[2018-08-21 21:14] primael commented on #338
I've an error with sonar :
`The command "if [ "$TRAVIS_PULL_REQUEST" != "false" ];then
   mvn org.jacoco:jacoco-maven-plugin:prepare-agent package --settings target/travis/settings.xml -Dsettings.security=target/travis/settings-security.xml -Dmaven.javadoc.skip=true;
   sonar-scanner
fi
" exited with 127.
0.00s$ if [ "$TRAVIS_PULL_REQUEST" = "false" ];then
   mvn org.jacoco:jacoco-maven-plugin:pre

[2018-08-21 22:21] #338 closed, assigned to nobody

[2018-08-22 07:08] ctonsing opened #340 "Incorrect handling of day-of-week range which crosses last day of week boundary"
When using a schedule definition which contains a day-of-week range which crosses the last-day-of-week boundary, then when we call ExecutionTime.timeFromLastExecution(ZonedDateTime date) method, it goes into a long-running loop and doesn't find the last execution time. The problem seems to be in the com.cronutils.model.time.generator.BetweenDayOfWeekValueGenerator(CronField cronField, int year, in

[2018-08-22 13:29] jmrozanec commented on #340
@ctonsing thank you for reporting this and contributing the test to cron-utils! The test was merged into master. Best!

[2018-08-22 13:30] #335 closed

[2018-09-10 09:40] benjwarner commented on #243
A real life example that I am looking at now.

All of our servers globally run in their respective local time-zones.  For various reasons, all our java apps run in UTC.

We have a single app that needs to trigger tasks at various market times.  e.g. The New York Close is at 17:00 NY time.  The New Zealand Open is at 8am Wellington time, etc.   We also need the ability to configure these tasks to r

[2018-09-10 13:27] jmrozanec commented on #243
@benjwarner thank you for the example provided! We will prioritize this issue for next release. You are also welcome to contribute :smile: Thanks!

[2018-09-22 19:00] toughpheeckouse opened #343 "IllegalArgumentException for valid spring cron expression"
I got sample expressions from docs of org.springframework.scheduling.support.CronSequenceGenerator class and try to get description of these expressions by CronDefinitionBuilder.instanceDefinitionFor(CronType.SPRING).
After that I've got exception Both, a day-of-week AND a day-of-month parameter, are not supported.

this is test case

[code]

[2018-09-22 20:16] toughpheeckouse commented on #3
if I correctly understood it is about plural forms and transaltion.
This task is very cleverly implemented in [GWT](http://www.gwtproject.org/doc/latest/DevGuideI18nPluralForms.html).

Please take a look at [PluralRule](https://github.com/gwtproject/gwt/blob/master/user/src/com/google/gwt/i18n/client/PluralRule.java)
and [implementation for many locales](https://github.com/gwtproject/gwt/tree/mast

[2018-09-23 07:28] jmrozanec commented on #343
@toughpheeckouse thank you for reporting this. May we ask you to submit a PR with the code above? Most probably this can be fixed with a custom expression definition. Thanks!

[2018-09-23 07:29] jmrozanec commented on #3
@toughpheeckouse thanks! We will take a look at it!

[2018-09-26 14:02] musaddiquesanderwale opened #345 "Slash in cron exp"
I am using CronBuilder to genrate the cronexpression i want to generate expression
0 */2 * ? * *
I am not able to find Slash symbol in api

[2018-09-26 14:52] toughpheeckouse commented on #345
may be you are looking for [Every class](https://github.com/jmrozanec/cron-utils/blob/master/src/main/java/com/cronutils/model/field/expression/Every.java).

First constructor is what you need
[code]

[2018-09-26 21:53] jmrozanec commented on #345
Thanks @toughpheeckouse!

[2018-09-26 21:53] #345 closed

[2018-10-03 08:10] tomqwpl commented on #63
The constraint causes an NPE if you don't have a DAY_OF_WEEK field at all.
I'm constructing a cron expression using the builder API, providing a day-of-month value but no day-of-week value, and it causes an NPE.

[2018-10-03 08:17] jmrozanec commented on #63
@tomqwpl thank you for the insight! If you have time for a quick PR we merge it to master and release s new version with the fix. Thanks!

[2018-10-03 20:47] jmrozanec commented on #281
@Naxos84 @soriniulus the issue is fixed! Kudos to @minidmnv, who provided a PR with the fix!

[2018-10-03 20:47] #281 closed

[2018-10-08 05:15] pkoenig10 commented on #319
I have also hit this issue multiple times. Ideally cronutils would have iteration limits to prevent infinite loops. Exceptions can be handled but infinite loops can cause pretty serious issues, especially since many cronutils methods cannot be interrupted.

[2018-10-08 09:30] jmrozanec commented on #319
@pkoenig10 this is a good suggestion. Will try to implement over the week and release a new version with the quick-fix. Thanks! 😄

[2018-10-09 08:14] #319 closed

[2018-10-11 11:40] minidmnv commented on #291
My commit didn't close this issue already?

[2018-10-11 12:11] jmrozanec commented on #291
@minidmnv yes! We apologize for not closing the issue. The feature was released yesterday. Thanks!

[2018-10-11 12:11] #291 closed

[2018-10-19 23:55] antrix190 commented on #243
@jmrozanec  Is this issue already taken? If not then i wish to work on it.

[2018-10-20 04:41] jmrozanec commented on #243
@antrix190 work in it! We will be glad to merge your PR! Thanks! :smile:

[2018-10-20 08:38] antrix190 commented on #243
Sure!

[2018-10-20 23:45] jmrozanec commented on #312
@pangyikhei sure! We will test and merge it into master. If works, we close the issue. Thanks! :smile:

[2018-10-21 03:37] pangyikhei commented on #336
I'll work on this one. Should `*/3` include Sunday?

From https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/5/html/deployment_guide/ch-autotasks

I checked with some other online cron generators and they seem to start with the "first" value when using `/`

So every third month would be Jan (1), Apr (4), Jul (7), etc.
Assuming the week starts on Sunday, every third day of the w

[2018-10-21 08:04] chirag100366 commented on #336
Yes, I think */3 should include Sunday.

[2018-10-21 13:31] #312 closed

[2018-10-21 19:30] #340 closed

[2018-10-22 19:34] jmrozanec commented on #243
@antrix190 any news on this issue? It would be great to close October with a new release including this feature :smile: May seem as trivial as to replace current cron values with the GMT offset of the target timezone, but may become tricky when a block of hours gets split into two dates or similar cases.

[2018-10-28 00:16] antrix190 commented on #243
Hey @jmrozanec I need sometime to close this issue.

[2018-10-28 05:35] jmrozanec commented on #243
@antrix190 sure! Seems easy, but has lots of corner cases :) thanks!

[2018-10-28 12:46] jmrozanec commented on #243
@antrix190 if you need some help, do not hesitate to reach out on this thread and share code from your fork. Will be glad to provide assistance! 😄

[2018-10-28 22:50] jmrozanec commented on #300
@Naxos84 closed! Kudos to @pangyikhei!

[2018-10-28 22:50] #300 closed

[2018-10-28 22:51] jmrozanec commented on #336
@chirag100366 fixed! Kudos to @pangyikhei!

[2018-10-28 22:51] #336 closed

[2018-11-07 03:16] toplinuxsir opened #358 "Invalid cron expression: 0 0 8 * * *. Both, a day-of-week AND a day-of-month parameter, are not supported"
[code]

throw exception
[code]

Is there any problem ?

[2018-11-07 10:20] jmrozanec commented on #358
@toplinuxsir there is no problem - just the SPRING definition does not accept both params at the same time. You can create your own definition, copying the SPRING one but removing this limitation. Please let us know if you need further assistance. Thanks!

[2018-11-07 10:20] #358 closed

[2018-11-23 12:27] gsontag opened #359 "javax.ejb.ScheduleExpression must be tagged as optional dependency"
I try to use cron-utils in a karaf instance, and, because of the CronUtils class that import javax.ejb.ScheduleExpression, the manifest require javax.ejb as a mandatory package for this unused functionality.

[2018-11-23 12:30] jmrozanec commented on #359
@gsontag thank you for reporting this. If you have a minute to send a PR we can release today a new version with the fix, otherwise we may delay some days. Thanks! 😄

[2018-11-24 18:23] #359 closed, assigned to nobody

[2019-01-07 06:02] FDU-SE-LAB opened #361 "Your project jmrozanec/cron-utils is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-19 16:52] josephtaylor opened #362 "Documentation needs to be updated for the CLI"
The documentation doesn't mention anything about the CLI portion of the library being moved to a different artifact

[2019-01-19 16:54] jmrozanec commented on #362
@josephtaylor thank you for reaching out. You are right - we shall mention libraries where functionality was decentralised. Will update soon :smile: You are welcome to contribute anything you find more helpful. Thanks!

[2019-02-03 20:06] Blemicek opened #363 "QUARTZ: Incorrect next execution time"
The next execution for QUARTZ cron expression `* 1 * * * ?` at `2019-01-01T00:01Z` should be `2019-01-01T01:01Z` not `2019-01-01T00:01:01Z`.

[2019-03-08 12:38] NielsDoucet commented on #343
This seems to be caused by the fix for #63
If I remove `.withCronValidation(CronConstraintsFactory.ensureEitherDayOfWeekOrDayOfMonth())` from the CronDefinition for type spring all these examples pass.

[2019-03-08 13:55] palerique opened #365 "Start year must be less than stop year"
Dears,

This cron expression: `0 0 0 ? * * 2016-2010` isn't a valid cron expression because the starting year is after the ending year.

It is being described by the tool like:
`at 00:00 every year between 2016 and 2010`

Is it possible to tackle this?

[2019-03-08 23:00] jmrozanec commented on #365
@palerique thank you for reporting this! We can tackle this as a validation when ranges are requested. May we ask for a test? Best! 😄

[2019-03-08 23:35] jmrozanec commented on #343
@NielsDoucet thank you for this insight! Can we work on getting a fix for this? Thanks! 😄

[2019-03-09 00:40] ph-redknee commented on #365
Well...

Due to my project characteristics I tackled it in the Object that wrap cron-utils.

[code]

And on `CronExpressionValidator` I am ensuring this using that approach:
[code]

Maybe we can use this as a starting point.

[2019-03-10 20:36] NielsDoucet commented on #343
hey @jmrozanec
I didn't have time to create a PR for this during this week-end, but I'll try to get something prepared soon (hopefully by the end of the week).

[2019-03-11 08:58] jmrozanec commented on #343
@NielsDoucet great! Thanks! 😄

[2019-03-11 21:03] #343 closed

[2019-03-12 11:51] natrajmolala commented on #3
There is an addition to this. Cron Expression is Wrong when used astertic at Second place.
Example : * 0 9-23 * * ?
Description : every hour between 9 and 23

Expected Description : Every second, at minute :00 every hour between 09am and 23pm, of every day
This is taken from https://www.freeformatter.com/cron-expression-generator-quartz.html.
And this is giving right info

[2019-03-12 11:55] jmrozanec commented on #3
@natrajmolala thank you for reporting this. You are welcome to send a PR with a test for this. Best! :smile:

[2019-03-12 12:59] HerTesla commented on #243
So what is the current status of this task?

[2019-03-12 14:08] antrix190 commented on #243
@HerTesla you can take this up.

[2019-03-12 15:13] jmrozanec commented on #243
@antrix190 perhaps do we have some code that can be reused? @HerTesla you are welcome to help with this!

[2019-03-12 15:26] natrajmolala commented on #3
@jmrozanec  The test is in place and in a local branch. I think you need to add me to contributors list so I can raise PR?

[2019-03-12 19:26] jmrozanec commented on #3
@natrajmolala not necessary - anyone can issue a PR, regardless his project status :)

[2019-04-02 08:16] jmrozanec opened #367 "Convert cron expression to ISO8601 format"
There was a request for a similar feature [here](https://stackoverflow.com/questions/36008028/convert-cron-expression-to-iso8601-format)
ISO 86601 specification available [here](https://en.wikipedia.org/wiki/ISO_8601#Durations)

[2019-04-05 07:14] NielsDoucet opened #368 "Validation incorrectly allows a trailing comma in a list"
The following testcase illustrates the issue:
[code]
This generates the following output
[code]

FieldParser.parse method relies on String.split, which filters out trailing empty results.
This means that this trailing token doesn't get noticed.
The case with "1," as input correctly fails, as it expects multiple tokens to be present after splitting, but there is only 1.

[2019-04-05 07:16] NielsDoucet opened #369 "Parser crashes when adding a range without values"
The following testcase illustrates the issue:
[code]
This generates the following output
[code]

[2019-04-05 07:29] jmrozanec commented on #369
@NielsDoucet thank you for reporting this. Don't you mind sending a PR with a test for it? Will check for a solution asap. Thanks! 😄

[2019-04-05 07:29] NielsDoucet opened #370 "Spring cron definition incorrectly allows L, W and #"
Follow-up for PR #366
Spring does not support the following:
- DayOfMonth: L, W and LW
- DayOfWeek: # and L

They should be removed from the definition created by CronDefinitionBuilder#spring

[2019-04-05 07:30] jmrozanec commented on #368
@NielsDoucet thank you for reporting this and the detailed explanation! 😄 If you don't mind, we would ask a PR with this tests and would be glad to get some help on solving this. Thanks!

[2019-04-05 07:32] jmrozanec commented on #370
@NielsDoucet nice 😄 thanks for pointing out!

[2019-04-05 07:37] NielsDoucet commented on #368
I'll provide a fix for this issue as well as #369 and #370 during the week-end.
They should be fairly straightforward.

[2019-04-05 07:37] jmrozanec commented on #368
Thanks!

[2019-04-06 19:29] NielsDoucet commented on #368
I have a fix ready for this, but I'm waiting for #372 to be merged, as I'm reusing the test code changes I made there.

[2019-04-07 06:06] #370 closed

[2019-04-07 06:08] #369 closed

[2019-04-07 06:27] #368 closed

[2019-04-07 06:28] jmrozanec commented on #368
@NielsDoucet just saw your message - you are welcome to push changes and complement existing code and tests.

[2019-04-07 08:13] NielsDoucet commented on #368
@jmrozanec I see you already fixed it, so no reason to apply another fix :)
Is a new bugfix release planned for the near future?
I use this library as a validator (jsr 303) and these were a few corner cases that gave me false negatives.
I'm happy to contribute the validator as well, if that is something you'd like to add.

[2019-04-07 08:16] jmrozanec commented on #368
@NielsDoucet the validator would be a great addition to cron-utils! We will release a new version today EOD 😄

[2019-05-01 07:59] sumeetpri opened #374 "Every one hour is creating expression * , is it possible to generate */1 or 0/1"
[code]

The above operation creates

 , Its correct expression but is it possible to get

 or

   I was expecting every(1) will create 0/1 or */1.

Is it possible to get 0/1 or */1 if every(1) is an argument passed?

@jmrozanec @palerique

[2019-05-01 09:00] jmrozanec commented on #374
@sumeetpri thank you for using cron-utils. Is there a case where we would like to get those expressions even if the three of them are equivalent?

[2019-05-01 09:07] sumeetpri commented on #374
I am creating cron expression via API something like . Cron-util creates the cron expression parsing json
and saves in the database . When the user again view cron details via API it returns always as it saves as *.
For parsing again saved expression i am using . Jon Expression while creating and after saving becomes diffrent json
[code]

[code]

[2019-05-01 09:24] jmrozanec commented on #374
@sumeetpri is a good case :smile: let's work on it. Probably can be solved by signaling the case as you exposed or some similar way. Contributions are welcome! :smile: Will try to have a look at it over the weekend. Thanks!

[2019-05-01 11:00] robryals opened #375 "IllegalArgumentException for Last Day of Week pattern '0 0 1 ? 1/1 MONL *'"
IllegalArgumentException: Invalid chars in expression! Expression: MONL Invalid chars: MONL

It seems that FieldParser L_PATTERN should also accept MON-FRI.

private static final Pattern L_PATTERN = Pattern.compile("[0-9]L", Pattern.CASE_INSENSITIVE);

[2019-05-03 18:41] sumeetpri commented on #374
class Every of below code needs to be signaled to keep formatting as requested by the user

[code]

[2019-05-04 18:27] jmrozanec commented on #374
@sumeetpri we have been looking into this and seems we would have to handle many corner cases. We cannot force the model to store information about how was originally represented: that should be responsibility of some visitor with a strategy about how to render that / all fields in a consistent manner.
What does prevent you storing the original post JSON definition in order to handle it back when

[2019-05-07 08:25] #374 closed

[2019-05-07 08:26] jmrozanec commented on #375
@robryals thank you for reporting this issue! Will have a look at it as soon as possible. We would appreciate a PR with the corresponding test. Thanks!

[2019-05-08 10:08] tubean opened #377 "Migrate cron expression from Quartz To Spring"
Thank you for this tool. But I met an issue when I use CronMapper. It only supports migrate from Quartz to Unix or Cron4j. How can I migrate from Quartz to Spring expression?

[2019-05-08 10:13] jmrozanec commented on #377
@tubean you can migrate to any cron expression, as long as you provide the target definition. Please let us know if further help is required or an issue for a bugfix must be created. Thanks! :smile:

[2019-05-08 10:26] tubean commented on #377
@jmrozanec thank you for your reply. When I see class CronMapper, there are 4 methods  _fromCron4jToQuartz()_, _fromQuartzToCron4j()_, _fromQuartzToUnix()_ and _fromUnixToQuartz()_ but not found any method which migrates from Quartz to Spring expression. Did you mean we can use the constructor of **CronMapper** to build the new one? But I am not sure how to define **cronRules** for it 😄

[2019-05-08 10:33] jmrozanec commented on #377
@tubean you are right about the rules - are not intuitive. Let us check by EOD and provide an accurate answer 😄 Best!

[2019-05-09 06:21] jmrozanec commented on #377
@tubean we are working on a fix for this. You can expect a new release with fixes on Friday 😄 Thank you for reporting it!

[2019-05-09 06:38] tubean commented on #377
@jmrozanec Great! Thank you so much 👍

[2019-05-09 15:27] Hokok opened #379 "Every FieldExpression ,This is a bug?"
When I try to build a cycle of 1, I return a *, which I don't think is right.
example code :
   Cron cron = CronBuilder
                .cron(CronDefinitionBuilder.instanceDefinitionFor(QUARTZ))
                .withYear(FieldExpression.always())
                .withDoM(FieldExpression.always())
                .withMonth(FieldExpression.always())
                .withDoW(FieldExpression.question

[2019-05-09 15:39] #379 closed

[2019-05-09 15:40] Hokok commented on #379
so   It can be solved in this way.  :
every(new On(new IntegerFieldValue(0)), 1)

[2019-05-13 07:48] kostya05983 opened #380 "Incorrect descriptor result"
Hello, @jmrozanec.
I use next cron expression 0 0 0 ? * 6 * and use class CronDescriptor.instanse(Msg.getCurrent()).describe()
I want to get  at 00:00 at and Saturday day.
I get at 00:00 at and Friday days
I debug code and find that in DescriptionStrategyFactory, diff is always =-1, but if it is 0 result will be correct.
[code]

[2019-05-13 09:31] jmrozanec commented on #380
@kostya05983 thank you for reporting this. We would appreciate if you can send a PR with the corresponding test. We will try to fix it as soon as possible and release a new version with it. Help is always welcome! 😄

[2019-05-13 16:23] kostya05983 commented on #380
@jmrozanec I understand that it is happened because the week starts on sunday, how do you think, is it possible to provide functionality to start week on monday?

[2019-05-14 12:15] vbradnitski opened #381 "Cannot specify a path for resourceBundle in CronDescriptor.java"
a path to resourceBundle is set to `String BUNDLE = "CronUtilsI18N"` value and cannot be specified. In my case I use it in one of OSGI bundles and have no ability to change ClassLoader settings, so all "CronUtilsI18N*.properties" must be placed in the root of target jar.

Woudn't you mind to add new constructor to use custom ClassLoader or do it like it done in "refactor/TimeDescriptor.java" to ma

[2019-06-12 16:20] pgorin opened #382 "Last execution must truncate milliseconds"
Hi!
First of all, thanks for your great work!
I need help for maybe an issue when getting last execution of a UNIX cron expression (SingleExecutionTime implementation).

Look at this example:
ExecutionTime.forCron(new CronParser(CronDefinitionBuilder.instanceDefinitionFor(UNIX)).parse("0 0 * * WED")).lastExecution(OffsetDateTime.of(2019, 6, 12, 0, 0, 0, 123, UTC).toZonedDateTime)

I think there is

[2019-06-12 20:16] jmrozanec commented on #382
Hola! 🇦🇷Nice observation! I will be glad to merge the PR and test if this works 😄 Do you have time for it?

[2019-06-12 20:23] jmrozanec commented on #381
@vbradnitski thank you for reporting this. We will check this case and come back with an answer. Thanks!

[2019-06-12 21:31] pgorin commented on #382
Great, thank you for your rapid responde. I will make the PR asap.

[2019-06-13 06:17] jmrozanec commented on #382
@pgorin thank you for the PR! Is now merged - a release will follow tonight 😄 Best!

[2019-06-14 05:43] jmrozanec commented on #382
@pgorin I could not release yesterday - will be done today. Best!

[2019-06-14 11:12] pgorin commented on #382
Hi! Is there a chance that you can make the new release in the next hours? :)

[2019-06-14 11:26] jmrozanec commented on #382
@pgorin yes - will ping you as soon as is released - most probably before 13:00 ARG 😄

[2019-06-14 11:53] pgorin commented on #382
Great!!!! 😀

El vie., 14 jun. 2019 a las 8:26, jmrozanec (<notifications@github.com>)
escribió:

[2019-06-14 17:06] jmrozanec commented on #382
@pgorin we have a failing test preventing the release - even though Travis builds were ok. Will work on it and release after solving the issue. Best!

[2019-06-14 17:08] pgorin commented on #382
Mmmmm, what test is failing? When I've cloned the repo there is one test already failing.

[2019-06-14 17:13] jmrozanec commented on #382
The CronParserQuartzIntegrationTest.testLastDayOfWeek()

[2019-06-14 17:25] pgorin commented on #382
Exactly, this is the failure test that I mentioned to you. Can you check this?
If you look at this CI run (the previous PR to mine) this test is already failing:
https://travis-ci.org/jmrozanec/cron-utils/builds/530221507?utm_source=github_status&utm_medium=notification

[2019-06-15 15:52] pgorin commented on #382
Any news about this?

[2019-06-17 06:52] jmrozanec opened #384 "Last DoW failing if value specified as string."
CronParserQuartzIntegrationTest.testLastDayOfWeek() is failing.

[2019-06-17 06:56] #384 closed

[2019-06-17 06:56] jmrozanec commented on #382
@pgorin we got the issue fixed - will release today before EOD ARG.

[2019-06-17 07:17] jmrozanec commented on #377
@tubean this feature was added and a new version will be released today with it. Best!

[2019-06-17 07:17] #377 closed

[2019-06-17 07:17] #382 closed

[2019-06-17 07:18] jmrozanec commented on #375
@robryals this issue is fixed! A new release will follow today EOD. Thanks!

[2019-06-17 07:18] #375 closed

[2019-06-17 10:32] jmrozanec commented on #365
@palerique fixed! Now we can define strict ranges per field, ensuring this no longer happens for year fields also. Thank you for reporting this!

[2019-06-17 10:32] #365 closed

[2019-06-17 12:53] pgorin commented on #382
Great!!!

[2019-06-17 12:55] jmrozanec commented on #305
@thebhushanp we just fixed this! Thank you for reporting the issue. A new release will be issued today EOD. Best!

[2019-06-17 12:55] #305 closed

[2019-06-17 13:05] jmrozanec commented on #362
@josephtaylor done! Thank you for the suggestion!

[2019-06-17 13:05] #362 closed

[2019-06-17 13:07] jmrozanec commented on #243
This can be tackled the same way as in Spring, where by default a cron expression is executed on local timezone, but an option exists to execute using another timezone. We could provide a wrapper, so that by executing all cron expressions referenced to a single timezone would execute the same way regardless where installed.

[2019-06-17 15:20] jmrozanec commented on #382
@pgorin released as 9.0.0! Thank you for reporting and fixing it! 😄 Saludos!

[2019-06-17 15:39] pgorin commented on #382
Thank you a lot! Saludos from Argentina!

[2019-06-18 08:58] jmrozanec commented on #305
@thebhushanp a [new release](https://github.com/jmrozanec/cron-utils/milestone/17) is available. Best!

[2019-06-18 08:58] jmrozanec commented on #365
@palerique @ph-redknee  a [new release](https://github.com/jmrozanec/cron-utils/milestone/17) is available. Best!

[2019-06-18 08:59] jmrozanec commented on #375
@robryals  a [new release](https://github.com/jmrozanec/cron-utils/milestone/17) is available. Best!

[2019-06-18 08:59] jmrozanec commented on #377
@tubean a [new release](https://github.com/jmrozanec/cron-utils/milestone/17) is available with this feature. Best!

[2019-06-18 09:00] jmrozanec commented on #368
@NielsDoucet a [new release](https://github.com/jmrozanec/cron-utils/milestone/17) is available with this changes. Best!

[2019-06-18 09:01] jmrozanec commented on #343
@toughpheeckouse @NielsDoucet  a [new release](https://github.com/jmrozanec/cron-utils/milestone/17) is available with this changes. Best!

[2019-06-18 10:50] thebhushanp commented on #305
Thanks @jmrozanec , I will try new fix. Thanks again.

[2019-06-18 10:52] tubean commented on #377
@jmrozanec Thanks!

[2019-06-18 12:15] robryals commented on #375
Thank you !

[2019-06-27 17:42] pkoenig10 commented on #384
@jmrozanec this "fix" breaks handling of last day of week values by just dropping the "L".

[2019-06-27 18:06] pkoenig10 opened #385 "Parsing last DoW drops last special character"
See https://github.com/jmrozanec/cron-utils/issues/384#issuecomment-506443328

[2019-06-28 06:03] #385 closed

[2019-06-28 16:00] pkoenig10 commented on #385
@jmrozanec can you make a new release with this fix?

[2019-06-28 16:13] jmrozanec commented on #385
@pkoenig10 yes, you can expect it within 3hs 😄Will ping back when done.

[2019-07-02 16:34] pkoenig10 commented on #385
@jmrozanec any update on making a new release?

[2019-07-03 17:29] jmrozanec commented on #385
@pkoenig10 released!

[2019-07-03 20:01] pkoenig10 commented on #385
@jmrozanec was the release actually tagged? I don't see it
https://github.com/jmrozanec/cron-utils/releases
https://mvnrepository.com/artifact/com.cronutils/cron-utils

[2019-07-03 20:10] jmrozanec commented on #385
@pkoenig10 was released to Maven Central but forgot to push the tagged version to GitHub. Now is pushed to GitHub as well :smile: Thanks for pointing it out!
On mvnrepository you can expect some delay due to indexing of new artifacts, but should be available on Central already as 9.0.1

[2019-07-13 05:11] dimitripunch opened #387 "intempestive println trace"
Hello,

in 9.0.0 and 9.0.1 at least ExecutionTimeBuilder.java:78 there is a println that I guess is a leftover debug trace.

System.out.println(String.format("We for an %s builder", yearsValueGenerator.getClass()));//TODO delete

Which of course is annoying for production systems.

[2019-07-13 05:17] jmrozanec commented on #387
@dimitripunch thank you for pointing that out. Will fix it and release a new version soon. Best!

[2019-07-13 05:19] dimitripunch commented on #387
thanks to you ! great cron library.

[2019-07-15 08:31] #387 closed

[2019-07-15 22:30] ms3eed opened #388 "Spring cron expression with day of week and day of month wrong next execution"
**Problem**
On version 8.1.1
With the cron expression like `0 0 8 1-7 * SAT` [check this ](https://cronexpressiondescriptor.azurewebsites.net/?expression=0+0+8+1-7+*+SAT&locale=en).
Where it is assumed to be fired on Saturday in the first week of the month. The next execution is ignoring the day of month. So it is just returning the next Saturday as if the day of month field is a question mark.

[

[2019-07-16 05:37] jmrozanec commented on #388
@ms3eed thank you for reporting this! The lib should accurately support any cron definition. May we ask you to submit a PR with a test for the Spring bug? Thanks!

[2019-07-16 09:31] ms3eed commented on #388
Sure will provide it today.

[2019-07-22 10:23] ms3eed commented on #388
May I work on this?

[2019-07-22 10:24] jmrozanec commented on #388
@ms3eed sure - go ahead!

[2019-07-25 17:48] dsuresh-ap opened #390 "No Proguard/R8 Rules"
This library doesn't have any defined Proguard or R8 rules. We had to add `-keep class com.cronutils.model.field.definition.FieldDefinition` to avoid the following exception:
[code]

Version: 8.1.1

[2019-07-25 19:54] jmrozanec commented on #390
@dsuresh-ap thank you for rising the issue. Do you have time to help on this? Best!

[2019-07-28 10:03] jmrozanec opened #391 "Descriptions issue error when addressing plurals"
We use '%p' to replace plurals, but sometimes conflicts with String.format specifiers, causing exceptions and preventing us get required descriptions. Token should be updated to some unique string that cannot be messed and would not produce this errors.

[2019-07-28 10:49] jmrozanec commented on #380
@kostya05983 please notice that we support Cron specifications to have a flexible start of week: you just need to specify which index corresponds to Monday at CronDefinitionBuilder: withMondayDoWValue(yourValueHere)
Please let us know if further explanations are needed. Best!

[2019-08-28 09:56] SJX516 opened #392 "Please point out in readme that should use version 6.0.6 for Android device below API 24"
I searched the version is useful in the closed issues and it should be more clear

[2019-08-29 19:02] bitbythecron opened #393 "Evaluating cron expressions and deciding whether or not they should "run now""
Hi! I have a need to store a bunch of cron expressions and then, every minute, determine whether or not any of them need to fire. So I'm looking for an API that gives me _something_ like:

[code]

Does your library offer any such `CronEvaluator` or anything I could use to make one?

[2019-08-29 20:04] #393 closed

[2019-09-02 06:25] jmrozanec commented on #392
@SJX516 thank you for the feedback. We just added some notes on the README.md Does that suffice the requirement? Best!

[2019-09-02 06:25] #392 closed

[2019-09-03 01:55] SJX516 commented on #392
that's enough, thanks

[2019-09-11 08:37] flamezealot opened #394 "Incorrect next execution time for spring cron expression with day of week"
version 9.0.1
With the cron expression like 0 0 9 * * MON
Where it is assumed to be fired on 9 o'clock of monday ,but executionTime.nextExecution(now) always return 9 o'clock of the next day,whether the next day is monday or not.

CronDefinition cronDefinition = CronDefinitionBuilder.instanceDefinitionFor(SPRING);
CronParser parser = new CronParser(cronDefinition);
ExecutionTime executionTime = Ex

[2019-09-18 14:19] francisdb opened #395 "ExecutionTime.forCron prints to system out"
cron-utils `9.0.1`

reproducer (scala)

[code]

output
[code]

[2019-09-18 14:29] jmrozanec commented on #395
@francisdb thank you for reporting this. Will fix and notify on new release! 😄

[2019-09-18 14:36] francisdb commented on #395
Would like to know if anybody can reproduce this as I could not find any related println / System.out in the code

[2019-09-24 05:47] yangjiajun2014 opened #396 "Cron is invalid?"
Cron-utils says '0 0 12-0 ? * 3' is a valid cron when I use version 8.1.1.But when I updated to 9.0.1,'0 0 12-0 ? * 3' became invalid.

[2019-09-24 06:55] jmrozanec commented on #396
@yangjiajun2014 thank you for reporting this. May we ask you to add more context? Ex.: which cron definition are you using and submit a test for it? Thanks!

[2019-09-24 07:01] yangjiajun2014 commented on #396
I use CronType.QUARTZ.My code looks like:
CronDefinition cronDefinition = CronDefinitionBuilder.instanceDefinitionFor(CronType.QUARTZ);
CronParser parser=new CronParser(cronDefinition);
try {
			parser.parse(cron);
} catch (Exception e) {
			return false;
}
return true;

[2019-10-01 16:02] marcoslarsen commented on #395
Any prediction on the version release with this fix? I'm having the same issue but noticed that it's already fix on master branch (ExecutionTimeBuilder forYearsMatching(final CronField cronField) ).
Thanks!

[2019-10-01 20:22] jmrozanec commented on #395
@marcoslarsen we can release it by the weekend. Will post an update when done. Thank you for pushing for this! 😄

[2019-10-01 20:45] marcoslarsen commented on #395
Cool, thanks! We've integrated it into one of our projects and our QA is complaining about the message on the console :P

[2019-10-01 20:46] jmrozanec commented on #395
Will make sure they soon no longer complain! :smile:

[2019-10-01 20:48] marcoslarsen commented on #395
thanks! 😄

[2019-10-05 16:20] pangyikhei commented on #363
I believe that `2019-01-01T00:01:01Z` is the correct next execution time for that cron expression.
You specified * as the value for the seconds, so it should match every second of minute 1 of every hour of every day of every month of every year.

http://www.quartz-scheduler.org/documentation/quartz-2.3.0/tutorials/tutorial-lesson-06.html
Wild-cards (the ‘*’ character) can be used to say “every” po

[2019-10-05 16:50] pangyikhei commented on #394
@jmrozanec I can work on this one.

[2019-10-05 18:19] pangyikhei commented on #396
Quartz apparently supports overflowing ranges
See https://github.com/quartz-scheduler/quartz/blob/master/quartz-core/src/main/java/org/quartz/CronExpression.java

[code]

@jmrozanec I can work on this one.

[2019-10-07 04:11] #396 closed

[2019-10-07 04:12] #394 closed

[2019-10-09 16:31] Fantazjatyk commented on #395
Hello.
8 days have passed and the fix hasn't been released yet.
Could you guys please do it?

[2019-10-12 21:58] jmrozanec commented on #395
@Fantazjatyk @marcoslarsen @francisdb version 9.0.2 was released with this fix. Enjoy! :smile:

[2019-10-12 21:59] #395 closed

[2019-10-19 10:33] fahmpeermoh commented on #243
can i pick this..?

[2019-10-19 10:34] jmrozanec commented on #243
@fahmpeermoh sure! Will be happy to merge!

[2019-10-21 05:12] fahmpeermoh commented on #243
@jmrozanec Thank you.

[2019-10-24 13:45] albertotn opened #401 "slf4j transitive dependecy"
**Description**

I'm using cron-utils as dependency in my project, packaged as war and deployed in wildfly 17.0.1. All works fine, but during wildfly's startup there is:

My project is a gradle based one, so I've declared only dependency to cron-utils.
With gradle it's possible to display dependency tree (using _gradle dependecies -q_) and so it's easy to spot dependency version requirement:

What

[2019-10-25 10:59] jmrozanec commented on #401
@albertotn we need logging, so removing all logs from cron-utils is not an option. But it would be great if we can iterate this, to ensure the dependency can be provided but is not forced to the ones who use cron-utils. An option it would be to change the scope of the dependency to "provided" - would that satisfy the case? Will be glad to further discuss the issue and get some help on this.

[2019-10-25 13:04] albertotn commented on #401
Thanks @jmrozanec for your feedback!
I think a "pure library" to be general should be without any dependency, even log one. I understand your concern and need.

If you want I could take this issue, investigate on provided and submit a PR ?

[2019-10-25 20:02] jmrozanec commented on #401
@albertotn sure! As long as the solution is not to remove logging 😉Thanks!

[2019-10-28 13:09] sbandler opened #402 "lastExecution calculates incorrect result for less-than-annual schedules"
lastExecution seems to be ignoring the quartz year field when calculating the lastExecution.

Setting "now" to 1/15/2015 0:0:0:0 UTC, using quartz expression "0 0 0 1 3 ? 2001/2", the last execution should be 3/1/2013, however the result produced is 3/1/2014.

If you generate last execution and check if its a match, it returns false.

if you generate next execution, it returns the correct result.

[2019-10-29 07:06] jmrozanec commented on #402
@sbandler thank you for reporting this. Can you submit a PR with the corresponding tests for the issue? Thanks! 😄

[2019-10-30 04:21] aibany opened #403 "lastExecution not correct"
![图片](https://user-images.githubusercontent.com/26923461/67828732-7951dc80-fb0f-11e9-8651-b1320a29a835.png)

Current System time is  2019-10-30 12:16:00
My cron is: 0 * 0/2 * * ?    . means every 2 hours execute one times.
My cron-utils version is :9.0.2

but the calc result nextTime and lastTime is both incorrect.

[2019-10-30 04:23] aibany commented on #403
Even my cron-utils version is 8.0.0， both the problem exsisted.

[2019-10-30 06:50] jmrozanec commented on #403
@aibany thank you for reporting this. May we ask you to submit a PR with the corresponding tests? Thanks!

[2019-10-30 10:07] aibany commented on #403
`
public static void main(String[] args) {

        CronDefinition defaultDef = CronDefinitionBuilder.instanceDefinitionFor(CronType.QUARTZ);
        CronDescriptor descriptor = CronDescriptor.instance(Locale.CHINESE);
        CronParser parser = new CronParser(defaultDef);

        String str = "0 * 0/2 * * ?";

        String description = descriptor.describe(parser.parse(str));

        ZonedDa

[2019-10-30 10:21] jmrozanec commented on #403
@aibany can you push this as a test into a PR? Thanks!

[2019-11-03 18:14] brusazorzo opened #404 "timeFromLastExecution with zoneId ignores november 3"
Not sure if this problem is related to issues #402 and #403 but using zoneid "America/Sao_Paulo" with a cron starting at midnight I just can't get a correct time for today (november 3).

This is the code, I'll also submit a pull request.

		final CronDefinition cronDefinition = CronDefinitionBuilder.defineCron().withMinutes().and().withHours().and()
			.withDayOfWeek().and().instance();
		final Cr

[2019-11-03 19:38] jmrozanec commented on #404
@brusazorzo thank you for reporting this. Best!

[2019-11-04 13:52] michaelboyles opened #406 "MON-FRI constraint ignored on nextExecution"
This block of code will return next executions on Saturdays and Sundays, even though they are not allowed by the cron.

    final CronDefinition cronDefinition = CronDefinitionBuilder.instanceDefinitionFor(CronType.SPRING);
    final CronParser parser = new CronParser(cronDefinition);
    ExecutionTime execTime = ExecutionTime.forCron(parser.parse("0 5 0 * * MON-FRI"));
    execTime.nextExecution(

[2019-11-04 14:10] jmrozanec commented on #406
@michaelboyles thank you for reporting this. May we ask you to submit a PR with a test? Thanks!

[2019-11-04 14:51] michaelboyles commented on #406
As it turns out, this issue has been fixed since 9.0.1. I sent you a PR for the passing test, just so you can add to your test suite to prevent regression.

https://github.com/jmrozanec/cron-utils/pull/407

[2019-11-05 09:03] aibany commented on #403
@brusazorzo thank you.

[2019-11-05 09:05] jmrozanec commented on #401
@albertotn do we have any updates on this?

[2019-11-05 10:50] albertotn commented on #401
not yet, I'm still motivated to investigate on it

[2019-11-08 12:19] maxmorozov opened #408 "Incorrect time sequence generated"
For expression "0 10/4 * * *" (every 4 hours starting from 10) generated time sequence is: 6, 10, 14, 18, 22 . Expected sequence: 10, 14, 18, 22

[2019-11-08 12:43] jmrozanec commented on #408
@maxmorozov thank you for reporting this. Can you submit a test case that better describes the context? Thanks!

[2019-11-08 15:18] maxmorozov commented on #408
CronDefinition cronDefinition = CronDefinitionBuilder.defineCron()
                .withMinutes().withStrictRange().withValidRange(0, 60).and()
                .withHours().withStrictRange().and()
                .withDayOfMonth().supportsL().withStrictRange().and()
                .withMonth().withStrictRange().and()
                .withDayOfWeek().withValidRange(0, 7).withMondayDoWValue(1).with

[2019-11-08 15:21] jmrozanec commented on #408
@maxmorozov thanks! Can you send a PR?

[2019-11-08 15:23] maxmorozov commented on #408
I have not tried to fix it yet.
If I make the fix I will send PR

[2019-11-11 13:10] #408 closed

[2019-11-16 04:07] jrphub commented on #243
Thank you guys for following up this feature :)

[2019-11-16 07:48] jmrozanec commented on #243
@fahmpeermoh any news on this?

[2019-11-18 10:49] albertotn commented on #401
@jmrozanec I've updated my fork from master and after a mvn install get this error on test:

[2019-11-18 13:57] jmrozanec commented on #401
@albertotn thanks! Best!

[2019-11-18 13:57] #401 closed

[2019-12-13 08:43] dizeee commented on #243
The merged code doesn't work with multiple values in one field, e. g. `0 9,15,18 * * *`. Also some tests do not pass due to daylight saving time offsets.

In our case we have some auto-generated Jenkins jobs, performing scheduled tasks, which need to be adjusted to daylight saving time in some time zones.

[2019-12-14 18:51] jmrozanec commented on #243
@dizeee  thank you for reporting this. May we ask you to point us the tests failing due to daylight savings in some timezones? This way we can fix them. If those are tests of your own, we would welcome them into our codebase, to ensure better quality. Thanks! 😄

[2019-12-16 10:26] dizeee commented on #243
@jmrozanec I'm talking about the tests in the pull request ;) https://github.com/jmrozanec/cron-utils/pull/400/files#diff-191b64506d58f9422b0b28100abfed44

[2019-12-25 04:56] tudobmb opened #411 "Can not parse from Quartz To Spring"
Hi guys,
When I tried to parse the quartz expression to spring expression as below:

       public static String convertQuartzCronjobToSpring() {

        String cronExpression = "0 5 16 1 1/12 ? *";

        CronDefinition cronDefinition = CronDefinitionBuilder.instanceDefinitionFor(QUARTZ);

        CronParser parser = new CronParser(cronDefinition);

        Cron quartzCron = parser.parse(cronE

[2019-12-31 15:01] jmrozanec commented on #411
@tudobmb thank you for reporting this bug. May we ask you to submit a PR with the example above? Thanks and a happy new year!

[2020-01-05 21:20] fi3te opened #412 "ArrayIndexOutOfBoundsException instead of IllegalArgumentException"
Hi,

cronParser.parse("0 0 0 ? * #") throws an ArrayIndexOutOfBoundsException instead of an IllegalArgumentException.

java.lang.ArrayIndexOutOfBoundsException: length=0; index=1
        at com.cronutils.parser.FieldParser.parseOnWithHash(FieldParser.java:185)
        at com.cronutils.parser.FieldParser.parseOn(FieldParser.java:166)
        at com.cronutils.parser.FieldParser.noSpecialCharsNorStar

[2020-01-07 21:05] pangyikhei commented on #411
See http://www.quartz-scheduler.org/documentation/quartz-2.3.0/tutorials/tutorial-lesson-06.html
[code]

12 is indeed an invalid value.

[2020-01-08 08:15] jmrozanec commented on #411
@pangyikhei thanks for the quick response! 😄

[2020-01-08 08:15] #411 closed

[2020-01-16 21:46] melonhead901 opened #413 "Wrong intervals in error message on invalid period"
Attempting to parse expression `* * * */12 *` gives the error message
"Failed to parse '* * * */12 *'. Period 12 not in range (1, 12]"

The range listing is wrong, it should be [1, 12)

[2020-01-29 13:23] francisdb commented on #297
Try this:

[code]

I did however see this `equivalent()` method but I see no reason to not have an equals where all fields are just compared?

[2020-02-27 17:40] dswitzer commented on #243
First, thanks for the wonderful project!

I'm working on a web-based project that uses Quartz Scheduler. The servers and the web application all run in UTC. However, clients will need to see the cron schedule expression reflected in their time zone.

The new CronConverter() code seemed to be exactly what I needed. However, as @dizeee  mentioned, some of the use cases do not work as expected. For e

[2020-02-27 17:46] dswitzer commented on #243
Likewise, I'd expect:

[code]

To generate:

[code]

But it's generating:

[code]

Which is really wrong.

[2020-02-28 01:54] Rick-se opened #417 "Vulnerable dependencies in your project.(CVEs)"
Hi, I noticed that your project are using vulnerable libraries which are related to some CVEs. I suggest updating their versions to increase the security of your project. Please look into the details below.
* **Vulnerable Library Version:** org.hibernate : hibernate-validator : 5.2.4.Final
  **CVE ID:** [CVE-2019-10219](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10219), [CVE-2017-7536

[2020-02-28 13:45] jmrozanec commented on #417
@Rick-se thank you for alerting on this! We just update the dependency version. Best!

[2020-02-28 13:45] #417 closed

[2020-03-24 00:44] jarvis017 commented on #243
Would this script help?
`
#!/usr/bin/python
import sys

difference_source_utc = 10
mode = sys.argv[1]
minute = sys.argv[2]
hour   = sys.argv[3]
days = sys.argv[-1].split(",")
days = map(int,days);
day_change = False

if(mode == "source-utc"):
	hour_result = int(hour) - difference_source_utc
if(mode == "utc-source"):
	hour_result = int(hour) + difference_source_utc

if(hour_result < 0):
	hour_resul

[2020-03-24 15:08] jmrozanec commented on #243
@jarvis017 this script is helpful! We will try to translate ASAP into our code. Meanwhile, you are welcome to contribute as well! Thanks!

[2020-04-06 13:41] Eyal-Shalev opened #418 "Quartz: Bad intervals and worse error messages"
Running the cron string `0 0 2 ? * 1/7 *` throws the following error: `Period 7 not in range (1, 7]`.
According to the quartz documentation the range should be `[1,7]`, and sites like [Cron Expression Generator & Explainer - Quartz](https://www.freeformatter.com/cron-expression-generator-quartz.html) agree.

Even worse, `7` is actually in the range `(1,7]`, but `1` isn't, see the wiki page on math

[2020-04-08 14:23] jmrozanec commented on #418
@Eyal-Shalev thank you for reporting this. May we ask a PR with a test to reproduce the issue? Thanks!

[2020-04-12 13:54] Eyal-Shalev commented on #418
Added a PR with a failing test

[2020-04-24 11:34] Haarolean commented on #413
Same problem here.
Had to use a workaround: define a year.

[2020-04-24 11:58] Haarolean opened #421 "Wrong monthly interval calculations"
Hi,

seems like cron-utils generates wrong executions for "every 6 months" cron.
I've used 25 of April as a date for next execution and got June as a next result. I was expecting this cron to run in October (April + 6 months) and in April 2021 next time. Isn't that how it should work?

Also, descriptions for "every x months" are wrong, e.g.: `at 17:27 at 24 day every June months`

I've proposed th

[2020-04-26 10:56] jamescosford opened #423 "Exception swallowed in "AndFieldValueGenerator""
In `AndFieldValueGenerator`, in the function
[code]
there is a try/catch which just logs the exception and returns an empty list.

[code]

So I have a situation where a client generates cron expressions interactively using the parser, and expressions which are "valid" then generate completely unexpected results when used with the `ExecutionTime` class.

The exception is printed, but there is no wa

[2020-04-26 11:17] jmrozanec commented on #423
@jamescosford thank you for reporting this. May we ask you to contribute a PR with some tests that would reproduce the issue? Thanks!

[2020-04-26 11:20] jmrozanec commented on #421
@Haarolean thank you for reporting this. Will check the tests submitted. You are always invited to submit a PR with a fix. Thanks!

[2020-04-27 04:51] HongZhaoHua opened #424 "A cron-utils bug by week"
use cron "0 0 12 ? * SUN#4 2020"

and use dateTime = ZonedDateTime.of(2021, 1, 1, 0, 0, 0, ZoneOffset.UTC);

now, run execution.lastExecution(dateTime);

you will get the result is 2022-11-27T12:00

but in fact, the  result  must be 2020-12-27T12:00

[2020-04-27 06:15] jmrozanec commented on #424
@HongZhaoHua thank you for reporting this. May we ask you a PR with a test? Thanks!

[2020-04-27 06:15] #412 closed

[2020-04-27 06:26] HongZhaoHua commented on #424
@jmrozanec sure.

here is the test, plz check it.

    @Test
    public void test() {
        CronDefinition cronDefinition = CronDefinitionBuilder.instanceDefinitionFor(CronType.QUARTZ);
        CronParser parser = new CronParser(cronDefinition);
        ExecutionTime execution = ExecutionTime.forCron(parser.parse("0 0 12 ? * SUN#4 2020"));
        LocalDate date = LocalDate.of(2021, 1, 1);

[2020-04-27 06:33] jmrozanec commented on #424
@HongZhaoHua thanks! 😄

[2020-04-27 06:37] HongZhaoHua commented on #424
@jmrozanec  u r welcome.
^^

[2020-04-27 09:13] jamescosford commented on #423
@jmrozanec it looks like things have moved on a little since the version that was causing my issue; now I don't see an exception logged but I still get strange results from the scheduler. I will create a PR with a test around this issue.

[2020-04-27 09:46] jmrozanec commented on #423
@jamescosford glad to hear that! That things moved on and the exception no longer appears, as well that you sent a PR 😄  Thanks! We will merge soon. Best!

[2020-04-30 20:36] alsereda commented on #388
The issue with a day-of-week definition. Spring is used "0" for Sunday as it is defined here - https://www.manpagez.com/man/5/crontab/
But CronDefinition.spring() defines it as ".withValidRange(1, 7).withMondayDoWValue(2)", which means that Sunday corresponds to "1".

[2020-04-30 20:48] alsereda opened #426 "Wrong day-of-week definition for Spring"
Spring is used "0" for Sunday as it is defined here - https://www.manpagez.com/man/5/crontab/
But CronDefinition.spring() defines it as ".withValidRange(1, 7).withMondayDoWValue(2)", which means that Sunday corresponds to "1".

`CronParser parser = new CronParser(CronDefinitionBuilder.instanceDefinitionFor(CronType.SPRING));
CronDescriptor descriptor = CronDescriptor.instance(Locale.UK);
String de

[2020-05-01 12:09] jmrozanec commented on #426
@alsereda Thank you for reporting this. May we ask you a PR with a test for it? Thanks!

[2020-05-01 13:26] #413 closed

[2020-05-01 14:05] #426 closed

[2020-05-01 14:05] jmrozanec commented on #426
@alsereda fixed! Thank you for reporting this.

[2020-05-01 14:07] jmrozanec commented on #408
@maxmorozov thank you for contributing the fix! 😄

[2020-05-01 14:09] jmrozanec commented on #418
@Eyal-Shalev thank you for reporting this. Fixes were made and pushed into master. Thanks! 😄

[2020-05-01 14:09] #418 closed

[2020-05-01 14:16] jmrozanec commented on #413
@melonhead901 thank you for reporting this. We pushed a fix for it! Best!

[2020-05-02 23:47] BlakeTNC commented on #318
Hello,
I wanted to give you my perspective on this feature as a "person new to cron", and offer a modification to fix a perceived problem.
(I'm a professional programmer, but new to using cron formats.)

I read through the discussion leading to this feature, and I saw that you were trying to decide between two formats, quoted here for reference.

"""
Multiple individual crons:
0 0 9 * * ? *
0 0 10

[2020-05-03 10:12] jmrozanec commented on #318
@BlakeTNC thank you for this suggestion. We believe is a good one and just pushed some changes to support this new format as well. Thank you for contributing your thoughts! Best! 😄

[2020-05-03 11:08] BlakeTNC commented on #318
You're welcome and thanks for your work. It's great for people to have access to libraries like this. Oh, do you want to reopen this issue? Or I could copy that post to a new issue, if it'll help with the tracking.
-Blake

[2020-05-03 11:12] jmrozanec commented on #318
@BlakeTNC a commit was pushed with this feature implemented 😄 If you would like to create a new issue with this description, we will reference it and close given the implementation is done but will help to track the feature for a new release. Thanks!

[2020-05-10 16:34] cdalexndr opened #427 "CronBuilder: support java.time.Duration"
Construct a cron from java.time.Duration

[2020-05-10 19:51] jmrozanec commented on #427
@cdalexndr may you elaborate a bit more on this?

[2020-05-10 20:26] cdalexndr commented on #427
My use case is that I want to use a single constant value that is used as a Duration for cache expiry and also as a cron job for regular cache cleanup. So I need some method to convert from a constant Duration to cron (the inverse may not be possible).

`CronBuilder` is using manual definition of each cron field.
My suggestion is for it to support parsing a `Duration` and auto-complete it's fields

[2020-05-10 20:41] cdalexndr commented on #427
It seems that some values cannot be mapped correctly, so only simple durations should be accepted.
`Duration.ofDays(2).plusHours(3)` =  ? (`0 0 3 */2 * ?` is invalid)

As there is not an universal conversion, this feature doesn't sound as good now so it's remains at your discretion.

[2020-05-10 21:09] jmrozanec commented on #427
@cdalexndr thank you for the details. We will have a more detailed look at the use case and decide if we can provide a good solution for it. Best! 😄

[2020-05-11 03:08] HongZhaoHua opened #428 "A cron-utils bug by withValidRange"
define CronDefinitionBuilder.instanceDefinitionFor(CronType.QUARTZ)

use cron "0 0 12 * * ?"

and use dateTime = ZonedDateTime.of(1900, 1, 1, 0, 0, 0, 0, ZoneOffset.UTC);

now, run execution.nextExecution(dateTime);

you will get the result is 1900-1-1T12:00

but in fact, the result must be 1970-1-1T12:00 because CronType.QUARTZ was limit the year range from 1970 to 2099.

[2020-05-11 03:09] HongZhaoHua commented on #428
here is the unit test. plz check it.

    @Test
    public void testBoundary() {
        CronDefinition cronDefinition = CronDefinitionBuilder.instanceDefinitionFor(CronType.QUARTZ);
        CronParser parser = new CronParser(cronDefinition);
        ExecutionTime execution = ExecutionTime.forCron(parser.parse("0 0 12 * * ?"));
        {
            ZonedDateTime dateTime = ZonedDateTime.of(1900,

[2020-05-11 03:12] HongZhaoHua commented on #428
version is 9.0.2.

[2020-05-11 15:29] jmrozanec commented on #428
@HongZhaoHua thanks! If is not too much to ask, may you send us a PR with the proposed test? Thanks!

[2020-05-12 07:03] HongZhaoHua commented on #428
@jmrozanec
The proposed test was on the 2th floor, don't u see it?
^^

[2020-05-25 12:30] albertotn opened #429 "New release with converters ?"
I notice new development on this useful library and hope you will release a 9.0.3 version ( with converters ) on maven central repository. Do you have any time frame for this ? Thanks!

[2020-05-25 16:25] jmrozanec commented on #429
@albertotn we can release this week! 😄 Will post an update when done! Best!

[2020-05-25 22:33] cmorriss commented on #429
Could use this as well! This is particularly useful as I'm creating scheduled rules in AWS CloudWatch which are in GMT, however I'd like to present to the user in the local time zone. This is perfect for performing the conversion back and forth.

[2020-05-26 04:59] jmrozanec commented on #429
@cmorriss that is a great use case! Thanks for sharing! 😄 We will post an update after releasing this weekend.

[2020-06-06 08:13] HongZhaoHua opened #430 "A cron-utils bug by year"
use cron "0 0 12 30 6 ? 2020/10"

and use dateTime = ZonedDateTime.of(2020, 6, 30, 12, 0, 0, 0, ZoneOffset.UTC);

now, run execution.nextExecution(dateTime);

you will get the result is 2021-6-30T12:00

but in fact, the result must be 2030-6-30T12:00

[2020-06-06 08:17] HongZhaoHua commented on #430
here is the unit test. plz check it.

    @Test
    public void test() {
        CronDefinition cronDefinition = CronDefinitionBuilder.instanceDefinitionFor(CronType.QUARTZ);
        CronParser parser = new CronParser(cronDefinition);
        ExecutionTime execution = ExecutionTime.forCron(parser.parse("0 0 12 30 6 ? 2020/10"));
        ZonedDateTime dateTime = ZonedDateTime.of(2020, 6, 30, 12, 0,

[2020-06-06 08:19] HongZhaoHua commented on #430
@jmrozanec
I hope the bug can be fixed as soon as possible.

[2020-06-06 17:48] cmorriss commented on #429
Any update of the new release?

[2020-06-19 11:23] alexkarpandrus commented on #430
I was just going to raise same issue.
The real issue however is that it seems that step syntax (`n/m`) doesn't work -- it doesn't take into account `n`.
So, you'd experience same issue with other fields, not only year, hence, I'd suggest to rename the issue to make it more clear.

[2020-06-19 11:33] alexkarpandrus commented on #430
I'd also point out that I believe the problem is in `EveryFieldValueGenerator`.

` public EveryFieldValueGenerator(final CronField cronField) {
        super(cronField);

        final Every every = (Every) cronField.getExpression();
        final FieldExpression everyExpression = every.getExpression();
        if (everyExpression instanceof Between) {
            final Between between = (Between)

[2020-06-28 18:36] #381 closed

[2020-07-01 21:09] dsuresh-ap commented on #390
Another rule I believe we needed to add:
[code]

Not sure if this is the best way to add these rules since it is specific to our app but we found `NoClassDefFoundError` with the class and its static method.

[2020-07-02 07:34] jmrozanec commented on #390
@dsuresh-ap thank you for submitting the rules - we really appreciate them! Will try to include them ASAP. Contributions are always welcome! If you have some time to set them up, we will be grateful.

[2020-07-11 06:20] jmrozanec commented on #418
@Eyal-Shalev a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for contributing to cron-utils!

[2020-07-11 06:20] jmrozanec commented on #426
@alsereda a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for contributing to cron-utils!

[2020-07-11 06:20] jmrozanec commented on #413
@melonhead901 a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for contributing to cron-utils!

[2020-07-11 06:21] jmrozanec commented on #412
@fi3te a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for contributing to cron-utils!

[2020-07-11 06:21] jmrozanec commented on #411
@tudobmb @pangyikhei a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for contributing to cron-utils!

[2020-07-11 06:22] jmrozanec commented on #401
@albertotn a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for contributing to cron-utils!

[2020-07-11 06:22] jmrozanec commented on #408
@maxmorozov a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for contributing to cron-utils!

[2020-07-11 06:24] jmrozanec commented on #395
@francisdb @marcoslarsen @Fantazjatyk a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for contributing to cron-utils!

[2020-07-11 06:25] jmrozanec commented on #394
@pangyikhei @flamezealot @NikitaNovozhilovWork @alexshtin @mfateev a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for contributing to cron-utils!

[2020-07-11 06:26] jmrozanec commented on #396
@yangjiajun2014 @pangyikhei @mfaatev @NikitaNovozhilovWork a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for contributing to cron-utils!

[2020-07-11 06:27] jmrozanec commented on #392
@SJX516 a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for contributing to cron-utils!

[2020-07-11 06:27] jmrozanec commented on #387
@dimitripunch a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for contributing to cron-utils!

[2020-07-11 06:29] jmrozanec commented on #430
@HongZhaoHua @alexkarpandrus thank you for pointing this out. We also hope this will be fixed asap - contributions are always welcome! 😄

[2020-07-11 06:30] jmrozanec commented on #429
@cmorriss @albertotn a new version was released with the fixes. Please find details [here](https://github.com/jmrozanec/cron-utils/releases/tag/9.1.0) Thank you for the heads up!

[2020-07-11 06:31] #429 closed

[2020-07-11 06:32] jmrozanec commented on #428
@HongZhaoHua sure we see it 😄 But on github we usually contribute code as PR and not through comments. If you have some minutes and could be so kind to post a PR, we will be glad to merge it. Thanks!

[2020-07-11 11:11] natros opened #434 "SLF4J: Class path contains multiple SLF4J bindings"
cron-utils should not provide any slf4j implementation like `slf4j-simple` to avoid multiple slf4j bindings in classpath

[2020-07-11 12:48] jmrozanec commented on #434
@natros thank you for the insight. May we ask you for a PR with a fix? Will be glad to check and merge. Thanks! :smile:

[2020-07-13 05:03] #434 closed

[2020-07-13 10:54] francisdb commented on #395
fixed in #387

[2020-07-13 10:57] francisdb commented on #387
fixed in 8f7be798c3f64902ab0db6fcad445d27f8a3be81

[2020-07-17 00:26] dsuresh-ap commented on #390
@jmrozanec This is actually not a Proguard issue. We missed the note in the Readme that states <Android 26 should not upgrade past version `6.0.6`. Will make an new issue suggesting if this repo could have a changelog or release notes to keep track of changes.

[2020-07-17 00:26] #390 closed

[2020-07-17 00:29] dsuresh-ap opened #436 "Create changelog or add release notes"
Is it possible to have a changelog for changes between releases or add release notes to every new version?

Example use case: We been using 8.1.1 and just realized that older Android versions are only supported on 6.0.6. However we don't know how much has changed between 6.0.6 and 8.1.1.

[2020-07-17 04:09] #436 closed

[2020-07-19 10:34] jaguililla opened #437 "Improvement: avoid declaring Lombok as a transitive dependency"
In the latest release (9.1.0) the Lombok dependency is included, however, it won't be needed at runtime ¿could it be set as "compile only"?

Thanks for your great library!

[2020-07-19 11:07] jmrozanec commented on #437
@jaguililla sure, we can do that! If you send a PR with the change, we will be glad to merge it. Thanks! 😄

[2020-07-19 19:56] jaguililla commented on #437
The proposed change is in the #438 PR.

[2020-07-20 06:41] #437 closed

[2020-07-21 03:35] littleYanzi opened #439 "Empty description for Quartz Cron Expression: * 0 * * * ?"
I got empty description from CronDescriptor for Cron Expression: * 0 * * * ?, I think this is NOT correct.

[2020-07-21 03:43] jmrozanec commented on #439
@littleYanzi thank you for reporting this. May we ask you for a PR with a test? Thanks!

[2020-07-21 03:47] littleYanzi opened #440 "Incorrect description for Quartz Cron Expression: * 2,1/31 * * * ?"
I got the following description from CronDescriptor for Cron Expression: * 2,1/31 * * * ?
at and 2 minutes and every 31 minutes

The description is not accurate, this might be ok, but the word 'and' following the 'at' is a clear issue, I think at least the word 'and' right after word 'at' should be removed.

[2020-07-21 12:49] jmrozanec commented on #440
@littleYanzi thank you for reporting this. We will be glad to merge a test with this issue if you submit the PR. Thanks!

[2020-07-22 13:20] TaridaGeorge opened #441 "Schedule to run every 24day?"
Is it possible to schedule every 24 day? How can I do that with CronBuilder?

I've tried something like this:

12 15 */24 -> Run every from 24 day to 24 at 12:15 But it doesn't work. I get this exception

Invalid cron expression: 12 15 */24. Both, a day-of-week AND a day-of-month parameter, are not supported.

[2020-07-27 10:15] francisdb commented on #434
@jmrozanec can this please be released?

[2020-07-27 10:20] jmrozanec commented on #434
@francisdb sure. Will release today EOD. Thank you for pushing forward! 😄

[2020-07-29 20:41] jmrozanec commented on #434
@francisdb a new version was released! We apologize for the delay! 😄

[2020-07-29 20:48] francisdb commented on #434
Thanks a lot, no need for apologies!

[2020-08-12 13:23] kakumasn commented on #243
has this feature been added to cron-utils ?? or is it still open

[2020-08-13 05:24] jmrozanec commented on #243
@kakumasn this feature was not added to cron-utils yet. Will do our best to include and test over next week. Will post an update when done and released.

[2020-08-15 16:33] jmrozanec commented on #441
@TaridaGeorge is possible! 😄  Below we provide a snippet of code, where you can cron for an event to happen every 24 days or on 24th each month:

[code]

Hope this helps! If any further questions arise, will be glad to answer! 😄

[2020-08-15 16:33] #441 closed

[2020-09-04 20:14] saurabnigam commented on #243
Hi Any updates on this

[2020-09-11 12:30] maikebertpsc commented on #401
Hi,
may I ask what was the actual fix here?

In our JBoss we still get the following warnings with version 9.1.0:

I assume best would be to not have these class path entries in the MANIFEST:

[2020-09-14 17:44] #406 closed

[2020-09-30 05:42] zhanxingcheng opened #444 "executionTime.nextExecution(startDateTime) error"
**1. cron desc:**     "0 40 08 ? * *"

**2. code desc:**
DateTime startDateTime = new DateTime(1601426291898L);  //  2020-09-30T08:38:11.898+08:00
startDateTime = executionTime.nextExecution(startDateTime); // startDateTime changed 2020-10-01T08:40:00.000+08:00

**3. question desc:**  2020-09-30T08:40:00.000+08:00 was losted

[2020-09-30 05:44] zhanxingcheng commented on #444
<dependency>
            <groupId>com.cronutils</groupId>
            <artifactId>cron-utils</artifactId>
            <version>4.1.2</version>
        </dependency>

[2020-09-30 06:11] jmrozanec commented on #444
@zhanxingcheng thank you for reporting this. We very much appreciate it! May we ask for a PR with a test for the case you described? Thank you! 😄

[2020-09-30 21:19] charchithere commented on #444
hey! i would like to work on this Issue

[2020-10-01 06:25] jmrozanec commented on #444
@charchithere go for it! Thanks!

[2020-10-01 07:06] albertotn commented on #440
I'd like to take care of this during hacktoberfest, could you assign me ?

[2020-10-01 07:07] albertotn commented on #439
I'd like to take care of this during hacktoberfest, could you assign me ?

[2020-10-01 07:08] albertotn commented on #367
I'd like to take of this during hacktoberfest, could you assign me ?

[2020-10-01 07:35] jmrozanec commented on #367
@albertotn sure! Thanks!

[2020-10-01 07:37] jmrozanec commented on #440
@albertotn sure! Thanks!

[2020-10-01 07:37] jmrozanec commented on #439
@albertotn sure! Thanks!

[2020-10-01 21:37] mehwhatever commented on #427
Hey I would like to take this up as a part of Hacktober fest.

[2020-10-02 07:17] jmrozanec commented on #427
@mehwhatever sure! Thanks!

[2020-10-02 10:22] edmeme commented on #440
There's another element missing in the description that is bothering me. It should read "**Every second** at 2 minutes and every 31 minutes" (and I'd say "every second at minute 2 and every 31 minutes" is more clear)

[2020-10-03 16:05] Lifeindeath commented on #421
Hi, I checked the test and it seems that the library is behaving as expected, following cron style: "every(6)" should not be intended as "every 6 months", but "on every 6th month", meaning on January and July.
The library also allows you to compute "every 6h month" starting from a date, if you use the "every(on(_date_), 6)" method.

I opened PR #445 to solve this issue.

[2020-10-03 17:16] jmrozanec commented on #421
@Lifeindeath thank you for contributing to cron-utils! Will review the PR between today and tomorrow and provide feedback or accept if everything is ok. Thanks! 😄

[2020-10-04 14:25] jmrozanec commented on #421
The PR submitted by @Lifeindeath does not solve the issue. In fact, a test was changed not reflecting the original case. We added the original case, which still remains unsolved.

[2020-10-04 15:30] Lifeindeath commented on #421
Hi, I am sorry, while I was fixing stuff I tested different months and changed the starting date, I now see that that particular date fails, but _not in the way reported in the issue_.

What @Haarolean was saying is that he was expecting October as next run starting from April, but he got June instead (actually when I run it I got July, don't know why).
That was due to the fact he was using the ev

[2020-10-04 16:04] jmrozanec commented on #421
@Lifeindeath I agree the issue may be related to daylight savings, but the original test remains the same: taking April as reference month, an execution every six months would mean expected executions in October and then in April again - this is what we aim to fix here. We can open a new issue for this.
We agree on setting a timezone that would not depend on each user execution 😄 Current test is n

[2020-10-04 21:26] Lifeindeath opened #446 "Daylight savings changing date may produce incorrect next execution"
## Description
In specific scenarios involving local timezones, calling `nextRun()` may produce an incorrect result

## How to reproduce
Start from a local date set exactly on midnight of daylight savings changing day:
[code]
Create a cron executing every year on that date:
[code]

First execution _should return_ 25 October 2021, but in fact returns 25 October 2020:
[code]
prints:
[code]

## Possi

[2020-10-04 21:31] Lifeindeath commented on #421
Ok, I opened issue #446 documenting how to reproduce the bug (and a possible explanation). I'll work on that too. For now, what I can say is that it seems really related to daylight saving triggers, if the starting date it is exactly when clock should be brought back an hour. For instance, 25th October 2020 at 2 a.m., which is the current test that is failing right now: test will generate 25th Oct

[2020-10-05 05:43] jmrozanec commented on #421
@Lifeindeath thanks! 😄

[2020-10-05 05:43] #421 closed

[2020-10-06 21:29] #440 closed

[2020-10-07 07:11] #439 closed

[2020-10-07 18:18] jmrozanec commented on #444
@charchithere any updates on this issue?

[2020-10-08 07:17] Lifeindeath commented on #446
Hi, I think I need help deciding how to address this issue.
This is something that sometimes even in cron itself doesn't work properly and requires special care: https://stackoverflow.com/questions/13195999/daylight-savings-and-cron

So, the "issue" is that the Cron interface generates all the candidates matching the expression and then select the next one. If the next one coincides with the curre

[2020-10-08 07:38] jmrozanec commented on #446
@Lifeindeath thank you for the detailed report and time invested. We appreciate it! A thought I got is the following: for daylight savings, if we add a second, we get back the same date. What if we test this condition before asking the nextClosestMatch candidates? If we get the same time back, then we can increment for an hour, which may solve the issue? I had no time to code and check if this wou

[2020-10-11 16:07] jmrozanec commented on #446
@Lifeindeath solved! 😄

[2020-10-11 16:23] #444 closed

[2020-10-11 16:27] #363 closed

[2020-10-11 16:32] jmrozanec commented on #213
@pangyikhei @lowell80 this issue is now fixed! 😄 thanks!

[2020-10-11 16:32] #213 closed

[2020-10-11 16:34] jmrozanec commented on #388
@ms3eed the issue is now fixed. Best!

[2020-10-11 16:34] #388 closed

[2020-10-11 18:36] chaudharydeepak commented on #430
@jmrozanec - I would like to help if its ok? I saw some code snippets above and I guess thats a good starting point. Let me know. Thank you.

[2020-10-11 19:10] jmrozanec commented on #430
@chaudharydeepak please, go ahead! Thanks!

[2020-10-11 19:13] jmrozanec commented on #427
@mehwhatever do we have any updates on this? Thanks!

[2020-10-11 19:15] jmrozanec commented on #436
@dsuresh-ap we log all changes in the release notes. Best!

[2020-10-11 19:57] #103 closed

[2020-10-12 03:30] IndeedSi commented on #428
I'm wondering if this is really a bug. It is true that QUARTZ cron expression only takes year between 1970 and 2099, but do we have that limit for the execution time?
"0 0 12 * * ?" means a job which fires at 12:00:00pm every day. I don't see how this expression limits the fire dates to be within 1970, 2099.

[2020-10-12 03:32] IndeedSi commented on #404
All tests for this issue are passing now. It might be fixed by some fixes on another daylight saving issue? @jmrozanec

[2020-10-12 04:50] IndeedSi commented on #423
I did some digging into the code. The issue is that even though the parser allows overflowing ranges `17-0` in #396 , but these overflowing ranges are not taking effect in `ExecutionTime`.  So for the example expression, only `0-7` will be considered, not `17-0` will be ignored

I feel this could be a rather larger change than expected. As in [quartz|https://github.com/quartz-scheduler/quartz/blob

[2020-10-12 05:33] jmrozanec commented on #428
@IndeedSi we shall support the definition, including the constraints.

[2020-10-12 08:53] IndeedSi commented on #403
Looking at the example, I think what was causing confusion was the description.
`0 * 0/2 * * ?` should be `every minute every 2 hours` instead of simply `every 2 hours`

And I think the last and next execution time works just as expected since it's being triggered every minute. I added a test case for this issue.

[2020-10-12 08:56] IndeedSi commented on #402
May I take this issue? I still need some time but should be able to get this fixed tomorrow.

[2020-10-12 14:21] dsuresh-ap commented on #436
@jmrozanec Could you link me to the release notes? I went to the Releases and did not see any changes.

[2020-10-12 14:58] #424 closed

[2020-10-12 14:59] jmrozanec commented on #424
@HongZhaoHua the issue is now fixed!

[2020-10-12 15:22] jmrozanec commented on #436
@dsuresh-ap [here an example](https://github.com/jmrozanec/cron-utils/milestone/19?closed=1)

[2020-10-12 18:20] dsuresh-ap commented on #436
Correct me if I am mistaken but I see a list of issues that were fixed for Milestone 9.10. If that is correct then what I meant by this issue was to provide a Changelog in a plain text format like some other libraries. Ex. [Changelog for Realm](https://github.com/realm/realm-java/blob/master/CHANGELOG.md)

If that is not feasible or something that won't be considered then please feel free to close

[2020-10-12 20:26] jmrozanec commented on #436
@dsuresh-ap it is feasible, but we don't see an added value vs. cost of maintenance. The issue was already closed due to this.

[2020-10-12 21:58] jmrozanec commented on #423
@IndeedSi thank you for the insight!

[2020-10-12 21:59] jmrozanec commented on #402
@IndeedSi sure! Go ahead!

[2020-10-12 22:02] #391 closed

[2020-10-13 08:14] jmrozanec commented on #404
@IndeedSi not all tests are passing. Two are ignored, which require fixing.

[2020-10-13 08:15] #402 closed

[2020-10-13 08:55] IndeedSi commented on #428
@jmrozanec  Gotcha. I have got a change for passing the constraint from cron definition to execution time.

[2020-10-13 08:57] IndeedSi commented on #404
@jmrozanec  Ah... I meant the two ignored tests were also passing in my local.

[2020-10-13 08:58] jmrozanec commented on #404
@IndeedSi they are not passing in my local ...

[2020-10-13 08:59] #428 closed

[2020-10-13 12:20] IndeedSi commented on #404
@jmrozanec That's weird.... I tried to change my local timezone, still found these tests passing. Not sure how I can reproduce the problem here :(

[2020-10-14 15:03] #302 closed

[2020-10-14 20:23] Lifeindeath commented on #446
Hi @jmrozanec sorry it took so long but I did some additional tests with your proposed solution, and it seems not to be working if I have a cron running every hour.
I submitted an additional test that shows the issue.
The good news is that intervals on minutes seems to work (did a test for that too).

I know it is a real corner case but since I worked on this I wanted to make sure everything is co

[2020-10-14 20:25] jmrozanec commented on #446
@Lifeindeath thank you! We appreciate the effort! We re-opened the issue and merged the tests. If you have some time to propose a fix to this issue, will be glad to accept a PR with the solution as well.

[2020-10-19 13:11] DPovilas opened #457 "Human readable expression is incorect"
Hi, consider crontab expression:
`*/2,1 * * * * <some job>`
This job should start at first minute of every hour and then start at every second minute. **cron-utils** translates it like this:

This is how this expression is translated into human readable format on [contab.guru](https://crontab.guru/#*/2,1_*_*_*_*)

I think **cron-utils** needs to clarify the translation for this specific case.

[2020-10-19 13:35] jmrozanec commented on #457
@DPovilas thank you for reporting this. May we ask you to submit a PR with the corresponding tests? Thanks!

[2020-10-20 07:04] DPovilas commented on #457
Actually, I ran some tests. `CronDescriptor` defines this expression like this:

This is a correct description. Maybe this problem was fixed after the release of 9.1.1 version. I think you can close this issue. I'm not going to do a PR, because it seems that this issue was solved.

[2020-10-20 07:06] #457 closed

[2020-10-27 03:11] pangyikhei commented on #308
@jmrozanec I can tackle this one.

[2020-10-27 11:03] jmrozanec commented on #308
@LennyKarpel @Naxos84 Fixed by @pangyikhei in #458!

[2020-10-27 11:03] #308 closed

[2020-10-27 11:04] jmrozanec commented on #430
@chaudharydeepak do we have an update on this?

[2020-10-27 11:04] jmrozanec commented on #427
@mehwhatever do we have some update on this? Thanks!

[2020-10-27 11:05] jmrozanec commented on #446
@Lifeindeath did you have the chance and time to have a look into a possible solution for the corner case? Thanks! 😄

[2020-10-28 01:00] pangyikhei commented on #404
Issue404Test::testNovember3Noon and Issue404Test::testNovember3Midnight are also passing for me.

[2020-10-28 01:05] jmrozanec commented on #404
@pangyikhei thank you for providing a second eye on this!

[2020-10-28 01:11] pangyikhei commented on #404
@jmrozanec Updated my previous comment with the possible cause of the test failures on your end.

[2020-10-28 01:16] jmrozanec commented on #404
@pangyikhei thanks!

[2020-11-02 21:31] barunhalderkolkata opened #459 "CronBuilder accepting -1 as argument for UNIX"
[code]

This is creating cron object instead of throwing error like `java.lang.IllegalArgumentException: Value -1 not in range [0, 23]`

And this is failing eventually while trying to parse.

[2020-11-02 21:46] jmrozanec commented on #459
@barunhalderkolkata thank you for reporting this! May we ask a PR with a test? Thanks!

[2020-11-08 19:09] jmrozanec commented on #459
@barunhalderkolkata Fixed!

[2020-11-08 19:09] #459 closed

[2020-11-21 10:45] jmrozanec opened #460 "Update cron definition for Spring, supporting Nth day of week."
Spring cron definition should support Nth day of week, [as per the documentation](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/scheduling/support/CronExpression.html)

[2020-11-21 10:45] #460 closed

[2020-11-21 10:46] jmrozanec opened #461 "Fix security vulnerability regarding the Hibernate dependency."

[2020-11-21 10:46] #461 closed

[2020-11-22 21:19] jmrozanec commented on #461
A Template Injection was identified in cron-utils enabling attackers to inject arbitrary Java EL expressions, leading to unauthenticated Remote Code Execution (RCE) vulnerability.

Remote Code Execution - JavaEL Injection
If developers use the @Cron annotation to validate a user controlled Cron expression, attackers will be able to inject and run arbitrary Java Expression Language (EL) expressions

[2020-11-24 03:21] gsmet commented on #461
Hi,

Hibernate Validator lead here.

So I have no idea if Hibernate Validator is the right thing for your usage, my personal opinion is that it might be too much infrastructure for a focused util library like yours.

But as far as security is concerned, I thought that @pwntester had added the important information I gave to him to the message he is sending. @pwntester, I already asked once, could

[2020-11-24 08:51] pwntester commented on #461
Thanks for the feedback @gsmet
We are sending your recommendations as part of the initial report we send to affected projects and also as part of the [blog post reference](https://securitylab.github.com/research/bean-validation-RCE) that we share with maintainers.

[2020-11-24 11:25] gsmet commented on #461
Also, I'm far from being sure that Apache BVal is safer if you have javax.el around, which you still have in your pom.

I had a quick look at the code and I think they automatically enable EL if it's in the classpath.

[2020-11-25 09:56] pwntester commented on #461
as far as i know, their code to decide if EL expressions should be evaluated is [this](https://github.com/apache/bval/blob/master/bval-jsr/src/main/java/org/apache/bval/jsr/DefaultMessageInterpolator.java#L183-L201) which seems to check only for the configuration property being enabled or the message being the default one

[2020-11-25 19:44] gsmet commented on #461
I fail to see how changing the test impl makes `CronValidator` safer.

Because first, HV is the most widely used implementation and second, even in Apache BVal, you can enable EL for custom constraint violation message, which can be done for very good reasons and you might think all your constraints are safe because carefully audited.

And in this case, having your `CronValidator` around will make

[2020-12-10 22:47] dsuresh-ap commented on #461
@jmrozanec Do you know if this vulnerability is an issue in 6.0.6? Fossa filed this vulnerability but I don't see any related code in v6.0.6 so we are assuming that this is not an issue in that version. Would be great if you can confirm.

[2020-12-29 13:23] norbertroamsys opened #462 "Incorrect description for "* /30 * * * *""
Actual result :  "every 30 minutes"

Expected Result : SOMETHING LIKE "**Every second**, every 30 minutes, starting at minutes past the hour"
Please see: https://bradymholt.github.io/cron-expression-descriptor/ as one "reference".

It looks like the "seconds" part is ignored because "0 /30 * * * *" or "1 /30 * * * *" will generate the same output.

Test case/Code:
[code]

We find this smart librar

[2020-12-29 14:57] jmrozanec commented on #462
@norbertroamsys thank you for reporting this. May we ask you to submit the test code as a PR? Thanks!

[2020-12-29 16:52] norbertroamsys commented on #462
Hi @jmrozanec - I hope that's how it is suiteable for you. The JUnit test which contains the issue is set to `Ignore`. So you may merge and build it without fixing ;-).

[2020-12-29 20:52] jmrozanec commented on #462
@norbertroamsys thank you! And have a happy new year! 😄

[2021-01-18 05:02] dangtranhoang opened #464 "Suggestion: Remove commons-lang3 dependency"
Hi,

**cron-utils** only use _StringUtils.isNumeric_ in _BaseCronTransformer_ and _StringUtils.join_ in _CronConverter_. Moreover, **cron-utils** already has its own StringUtils class.

Maybe you can merge those two functions from _apache's StringUtils_ into _cron-utils' StringUtils_ so we can remove _commons-lang3_ dependency.

Thanks.

[2021-01-18 06:31] jmrozanec commented on #464
@dangtranhoang that is a good suggestion! Thank you! If you have time, we would appreciate the PR with the proposed changes. Best!

[2021-01-18 07:46] dangtranhoang commented on #464
@jmrozanec, please check #465

[2021-01-18 09:45] jmrozanec commented on #464
@dangtranhoang thanks! 😄

[2021-01-20 18:14] watermark opened #466 "Weekday.SUNDAY with Quartz definition returns invalid int"
Using the latest version 9.1.3, SUNDAY returns the wrong value when the QUARTZ definition is used.

[code]

value contains the int "8" where it should be "1".  "8" is an invalid value, so the CronBuilder fails.

[2021-01-20 20:27] tooptoop4 opened #467 "how to get 2nd last execution time?"
executionTime.lastExecution(now); is very useful to get last execution time, but is there a way to get 2nd last execution time?

[2021-01-20 20:29] jmrozanec commented on #467
@tooptoop4 sure! You can try this: `executionTime.lastExecution(executionTime.lastExecution(now))`

[2021-01-20 20:29] #467 closed

[2021-01-20 20:30] jmrozanec commented on #466
@watermark may we ask you for a PR with a test for this case? Thank you! 😄

[2021-01-21 10:55] jmrozanec commented on #464
@dangtranhoang merged!

[2021-01-21 10:55] #464 closed

[2021-02-26 10:49] karstenspang opened #468 "Need clarification on time zones"
It is not clear to me in which time zone a given cron string is interpreted.
I assume that there is no time zone associated with the cron string itself, but when calling e.g. `ExecutionTime.nextExecution(ZonedDateTime)`, the time zone of the parameter is used to interpret the cron string.
Is this correct? Please clarify this in the documentation, for example in the javadoc for `ExecutionTime`.
Tha

[2021-02-26 11:03] jmrozanec commented on #468
@karstenspang the cron string is always interpreted in the local time of the machine, where is executed. We provide the ZonedDateTime, so that you have some more flexibility: you are no longer constrained to your local timezone. If you have some time, we would appreciate a PR with the requested documentation. We will review it and merge ASAP. Thanks! 😄

[2021-02-27 14:28] jmrozanec commented on #468
@karstenspang we updated the Javadoc. Best!

[2021-02-27 14:28] #468 closed

[2021-03-01 14:28] karstenspang commented on #468
Thanks

But then I will consider this as an enhancement request, i.e. make it possible to define the time zone in which the cron string is interpreted.

Looking at the code, I think it is beyond me to figure out how to do that, so I can't contribute this.

[2021-03-01 14:40] jmrozanec commented on #468
@karstenspang you are always welcome to suggest new features. As per the original definition, [considering timezones is not a feature](https://man7.org/linux/man-pages/man5/crontab.5.html). But at cron-utils we make an effort to stretch the existing cron limitations, and may implement the request in the future 😄 Thanks!

[2021-03-24 06:18] johnchurin opened #470 "ExecutionTime.isMatch() doesn't work when year is specified"
**Expected behavior:**  A supplied date of midnight, march 23, 2021 should match a Quartz pattern of "0 0 0 23 3 ? 2021".
**Observed behavior:** If the supplied date exactly matches the pattern, then ExecutionTime.isMatch() returns false rather than true.

**Analysis:** The cause of the problem seems obvious looking at the implementation in SingleExecutionTime:
[code]

In other words, if there is

[2021-03-24 07:12] jmrozanec commented on #470
@johnchurin thank you for reporting this. Could you please send a PR with the test? Thanks!

[2021-03-26 03:15] aristotll opened #472 "I wonder if there is a spring to quartz mapper"

[2021-03-26 03:39] aristotll commented on #472
<img width="620" alt="Snipaste_2021-03-26_11-08-50" src="https://user-images.githubusercontent.com/13341544/112573803-f62dd680-8e27-11eb-8cb3-d40e288a2b9b.png">

[2021-03-26 08:35] jmrozanec commented on #472
@aristotll thank you for reporting this. Though you can always build your own custom mapper, we agree this would be a nice addition. Will make an effort to add it over the weekend and release a new version! 😄 If you have time to contribute it, that would be great. Thanks!

[2021-03-29 10:27] jmrozanec commented on #472
@aristotll done! You can expect a release within a day! Thanks! 😄

[2021-03-29 10:27] #472 closed

[2021-03-29 11:06] jmrozanec commented on #470
@johnchurin thank you for the insights! The issue is fixed and a fixed version will be released soon! 😄

[2021-03-29 11:06] #470 closed

[2021-03-29 11:14] jmrozanec commented on #466
@watermark we are unable to reproduce the issue. May we ask for a PR with the test? Best!

[2021-03-29 11:14] #466 closed

[2021-04-01 15:25] jmrozanec commented on #470
@johnchurin a new release was published with the fix!

[2021-04-01 15:25] jmrozanec commented on #472
@aristotll a new release was published with the feature! 😄

[2021-04-01 15:26] jmrozanec commented on #464
@dangtranhoang a new release was published with the fix! 😄

[2021-04-20 06:50] jmrozanec opened #474 "Migrate to JDK 16"

[2021-04-22 16:35] jmrozanec commented on #474
Most of the dependencies were upgraded. Two tests were commented due to this [Powermock issue](https://github.com/powermock/powermock/issues/1094)

[2021-04-22 17:03] jmrozanec opened #475 "Fix Javadoc issue: H1 headers"
Since [JDK-8219801](https://bugs.openjdk.java.net/browse/JDK-8219801) we are required to have Javadoc headers follow incremental numbering.

[2021-04-22 19:19] jmrozanec opened #476 "Test for cron expressions overlap"
Given the following expressions:

    cron1 = "0 0 10 1/1 ? "; //everyday at 10am
    cron2 = "0 0 10 ? MON "; //every monday at 10am

We would ideally want to test cron1.overlap(cron2) -> true

[2021-05-01 04:12] arunvelsriram opened #477 "Wrong description for * */2 * * *"
For `* */2 * * *` the expected description should be something like "every minute of every second hour". But actual description that we are getting is "every 2 hours".

Sorry if this a know bug already. I searched the issues but can't find anything related.

[2021-05-01 05:42] jmrozanec commented on #477
@arunvelsriram thank you for reporting this. May we ask you to send a PR with a test? Thanks! 😄

[2021-05-14 08:22] vishborade commented on #243
Any update on this feature.

[2021-05-14 10:26] jmrozanec commented on #243
@vishborade no updates 😄 If you have time, we will be glad to get some help on it. Thanks!

[2021-06-28 14:03] Haarolean opened #480 "Invalid validation for sunday and/or invalid calculations"
Hi again!

I've encountered a problem: I'm trying to calculate next weekly launches on a sunday.
Tried to do it like this (now = ZonedDateTime, getValue returns the value from 1 to 7):
[code]
Turns out it accepts values from 0 to 6:
[code]

Which is okay I guess, so I tried this (ordinal -- 0 to 6)
[code]
And it doesn't work either!

[code]
This date is wrong by one (saturday instead of sunday).

[2021-06-28 14:50] jmrozanec commented on #480
@Haarolean thank you for reporting this. We will review it over the week and come back with an answer 😄 Best!

[2021-06-30 16:42] Haarolean commented on #243
I don't get why everyone's struggling so much with this issue :)
I personally think it will just complicate the whole thing, probably even add more bugs.

That's how I do timezone conversions:

Save your initial date in some timezone (like UTC) and calculate next launches with the same timezone, after that call ZonedDateTime#withZoneSameInstant(ZoneId) method and voilà, you've got your next launch

[2021-06-30 17:56] jmrozanec commented on #243
@Haarolean can we wrap that into a method and a PR? 😄

[2021-06-30 17:58] Haarolean commented on #243
Yeah, sure. Into the `cron-utils-examples` I suppose?

[2021-06-30 20:59] jmrozanec commented on #243
@Haarolean that would be great 😄 Thanks!

[2021-08-25 15:22] hemraj-ghanchi opened #482 "cannot get description for * and ? character from cron expression"
For the cron expression "0 0/1 * * * ?" , i am getting description as "every minute",
i am not getting description for  * and ? character. so please help.
code like below

CronDescriptor descriptor = CronDescriptor.instance(Locale.ENGLISH);
CronDefinition cronDefinition = CronDefinitionBuilder.instanceDefinitionFor(CronType.QUARTZ);

CronParser parser = new CronParser(cronDefinition);

String desc

[2021-10-01 12:19] tungnath opened #483 "Unix cron expression not taking seconds in consideration"
Cron expressions like  -> (`*/2 * * * *`) are supposed to run every two minutes from a scheduler that checks every 10 second if now is the execution time using

`ExecutionTime.isMatch(ZonedDateTime zd)`

**Issue :**
In the 2nd , 4th , 6th ...... minute,  the **isMatch(date)** method returns true for each of the 10th second in that particular minute.
So cron expression runs 6 time instead of 1 time

[2021-10-02 19:03] mccartney commented on #477
When looking into it, I think the problem is with default handling of `Always` values. So for an expression like `* */2 * * *` the handling of more specific values (left of `*/2`) and less specific values (right of `*/2`) is the same. Namely empty String. While it should be different.

I am not fully sure, but I think it should be:
- ignore all `*` from the right, they result in empty String,
- al

[2021-10-03 06:24] #477 closed

[2021-10-03 06:25] jmrozanec commented on #483
@tungnath thank you for reporting this. May we ask you to provide a PR with some test reproducing the issue? We just checked for the tests, and seem to build ok on JDK16.

[2021-10-05 08:42] albertotn commented on #367
I'm here again to check and see this still open, I think @jmrozanec  you can close it ?

[2021-10-05 08:44] #367 closed

[2021-10-05 08:44] jmrozanec commented on #367
@albertotn closed! Thanks! 😄

[2021-10-05 08:46] albertotn commented on #474
@jmrozanec if you want I'd like to help as part of hacktoberfest ( if you can label this issue too )

[2021-10-05 08:47] jmrozanec commented on #474
@albertotn done!

[2021-10-06 07:33] jmrozanec commented on #474
@albertotn thanks! 😄

[2021-10-06 07:33] #474 closed

[2021-10-06 07:57] jmrozanec opened #486 "Update codebase to JDK17"
- Check everything builds and tests do pass for JDK17
 - Update Travis CI settings, to build on JDK17

[2021-10-06 07:59] albertotn commented on #486
I'm working on this :D

[2021-10-06 08:41] albertotn commented on #486
see #487

[2021-10-09 07:51] IndeedSi commented on #480
Hi, @Haarolean

The cron definition didn't define valid range for DoW value. That's why it was causing
[code]

I added
[code]
And that fixed the problem here.
I submitted a PR to fix your test case. Please take a look. Thanks!

As for the ordinal 0-6, Sunday is mapped to 6 in this case. But the default definition assume `MondayDoWValue` is 1, that's why 6 is mapped to Saturday. So if you set `.wit

[2021-10-09 09:36] IndeedSi commented on #486
Does this mean we want to drop support for Java 11? Java 11 is a widely used LTS version. I'm afraid jumping directly to 17 and dropping support will cause low usage.

[2021-10-10 18:53] #462 closed

[2021-10-10 18:56] jmrozanec commented on #430
@IndeedSi thanks! 😄

[2021-10-10 19:03] #430 closed

[2021-10-10 20:23] jmrozanec commented on #486
@IndeedSi we can go on supporting Java 11 - no problem with that. I agree we should prioritize adoption over moving fast to new JDK versions. Thanks! 😄

[2021-10-21 09:12] NielsDoucet commented on #461
I see, I completely missed that part (obviously). In that case, shouldn't this library still be considered vulnerable to the problem? Was the fix validated?

[2021-10-27 08:04] hibnico opened #495 "Incorrect mapping of intervals of day of week from unix to quartz"
Mapping from unix to quartz, the day of week needs to switch by one. The mapper is switching every number it finds in the day of the week expression. But the number for an interval shouldn't be switched.

For instance, in Unix, "* * * * */2" means every minute every 2 days of the week. The mapper translate it into "* * * * */3", which has a different meaning: every minute every 3 days of the week.

[2021-10-30 13:11] #495 closed

[2021-10-31 21:45] diegoramosb commented on #476
Hey there! I just wanted to let you know that I'm still working on this issue. I've made progress on completing it, but it's way more complicated than I initially thought and I haven't been able to work on it for the last week or so.

[2021-11-01 14:35] jmrozanec commented on #476
@diegoramosb we appreciate the status! 😄 Just send the PR when done, and we will be glad to merge and release a new version!

[2021-11-14 21:27] jmrozanec opened #497 "Fix CronConverterTest.testCronConverterBuilder"

[2021-11-14 21:51] jmrozanec commented on #461
@pwntester just created the security advisory and added you as a collaborator. I used the same description as for the previous one, only updating the library version for the mitigation. Can you check what else is required to finalize this?
@NielsDoucet I updated the code and released a new version of the library. The update removed the change introduced by @pwntester and no other change was made.

[2021-11-16 13:33] amanteaux opened #498 "About javax.el dependency"
Today I heard about the vulnerability CVE-2021-41269.

I am using cron-utils to parse cron expressions, I don't understand at all why this library would even need to enable dynamic Java code execution. Allowing dynamic code execution is almost always a very dangerous way to make things work. Have a look at struts 2... this technology is now dead, but old projects are still using it, and every year

[2021-11-16 13:42] #498 closed

[2021-11-19 21:52] sserbousek opened #499 "IllegalArgumentException upgrading from 5.0.5 to 9.1.3"
Hello, I am upgrading a series of libraries which transitively includes a CronUtils upgrade from 5.0.5 to (currently) 9.1.3. One of our existing tests is failing for a method that detects and converts Unix cron to Quartz cron.

Test case to reproduce:
[code]

As someone not very familiar with the various cron syntaxes/dialects, I'm hoping someone can help determine whether this is a regression, or

[2021-11-24 07:16] jmrozanec commented on #499
@sserbousek thank you for reporting this! May we ask you a PR with the test provided above? Thanks! 😄

[2021-11-24 14:50] sserbousek commented on #499
PR provided above, thanks.

[2021-12-14 20:06] esommars opened #501 "Spring cron definition should allow L, W, LW"
According to this release: https://spring.io/blog/2020/11/10/new-in-spring-5-3-improved-cron-expressions
The day-of-month should support L, W and LW.

[2021-12-15 08:56] jmrozanec commented on #501
@esommars thank you for the heads up. We will check for this functionality, and make sure is supported. Best!

[2022-01-05 08:12] muralikrishna-kolapalli opened #502 "Year is incrementing for the last dates of december for some random years."
**The year is incrementing when the simple data format is being changed.**

****************************************************************************************************
//CODE SNIPPET:

[code]

************************************************************************************************************
**OUTPUT:**

Wed Dec 29 13:45:00 IST 2021
29-Dec-2022 13:45:00

*************************

[2022-01-05 11:05] jmrozanec commented on #502
@muralikrishna-kolapalli thank you for reporting this! May we ask you for a PR with a test for the issue described above? 😄 Thanks!

[2022-01-12 16:18] meincs opened #503 "Recent Version 9.1.6 introduced a bug on yearly schedules if a concrete year is sepecified in the cron expression"
Given the following two unit tests, both succeed with version 9.1.5, where the second one fails for version 9.1.6. The difference between the two tests is the concrete year 2017 used in the cron expression of the second test (testCustomQuarterlyScheduleForDesignatedYear2017). The concrete problem is that the last expected execution time 2017-11-16T00:00 is no longer generated.

[code]

[2022-01-14 10:44] meincs commented on #503
Sorry, i missed to add info on the Crons utility class used in the test code above. I just added a PR with a working example.

[2022-01-14 14:47] meincs commented on #503
Seems to be that bug was introduced with fix of #446. DST overlap must only be taken into account if and only if a next next executions exists. If a next next execution doesn't exist, a NoSuchValueException is thrown and forwarded as empty optional  indicating that a next execution doesn't exist too. Instead the NoSuchValueException should be ignored and the existing next execution returned.

Fix

[2022-01-14 14:48] jmrozanec commented on #503
@meincs many thanks for this! 😄 🚀  Will review the PR shortly, merge, and release a new version. Thanks!

[2022-01-24 09:05] #503 closed

[2022-01-24 20:44] Spikhalskiy opened #505 "Support for Predefined Schedules extension"
Some cron parsers do support predefined schedules like
`@yearly`, `@monthly`, `@weekly`, etc

For example:
https://pkg.go.dev/github.com/robfig/cron#hdr-Predefined_schedules
https://linux.die.net/man/5/crontab Section #Extensions

Would be great to get them in cron-utils

[2022-01-26 10:53] jmrozanec commented on #505
@Spikhalskiy thank you for this idea. We will work on this functionality. Help is always welcome! 😄

[2022-01-26 16:30] Spikhalskiy opened #506 "Support for Intervals extension"
Some cron parsers do support intervals like `@every 1h30m10s`

For example:
https://pkg.go.dev/github.com/robfig/cron#hdr-Intervals
https://github.com/robfig/cron/blob/master/doc.go#L26

Would be great to get them in cron-utils too

[2022-01-26 16:30] Spikhalskiy commented on #505
@jmrozanec Thanks for the confirmation! I will let you know if I have some time to work on it.

[2022-01-26 17:35] jmrozanec commented on #506
@Spikhalskiy thanks! 😄

[2022-02-02 14:46] csisy opened #507 "Implement equals and hashCode"
It would be nice if the `equals` and `hashCode` would be implemented especially for the  `CronDefinition`.

Example use case: We need to figure out if a given cron definition is one of the pre-defined ones (QUARTZ, for example). In the following code `eq == false`, because the mentioned methods are not implemented at all.

[code]

Or is there any other way to find whether a given cron definition m

[2022-02-07 10:05] jmrozanec commented on #507
@csisy thank you for using cron-utils, and the feedback provided. We will work on it. Contributions are always welcome! 😄 If you could provide some tests to highlight this functionality, we will be glad to merge them. Best!

[2022-02-07 12:31] robsoncassol opened #508 "Exception when set DoW as Sunday using QUARTZ definition"
In order to verify the problem, replace the day of the week to Sunday on the following test
https://github.com/jmrozanec/cron-utils/blob/0759550fa7a18067a0decd5953acd4165f0bf0ab/src/test/java/com/cronutils/model/definition/CronDefinitionBuilderTest.java#L177

[2022-02-07 12:32] robsoncassol commented on #508
Stacktrace

`java.lang.IllegalArgumentException: Value 8 not in range [1, 7]

	at com.cronutils.model.field.expression.visitor.ValidationFieldExpressionVisitor.isInRange(ValidationFieldExpressionVisitor.java:128)
	at com.cronutils.model.field.expression.visitor.ValidationFieldExpressionVisitor.visit(ValidationFieldExpressionVisitor.java:95)
	at com.cronutils.model.field.expression.visitor.Validati

[2022-02-07 13:19] jmrozanec commented on #508
@robsoncassol thank you for reporting this! May we ask you to provide a PR with a test for this issue? Thanks! 😄

[2022-02-09 07:41] csisy commented on #507
Thank you for the library! :)

Didn't have the time to create it as a pull request, but the test code would be something like this:

[code]

Implementing `equals` and `hashCode` can be a bit tricky however, not sure what would be the correct implementation.

Instead of implementing `equals` and `hashCode` on the `CronDefinition` itself, a helper method could be created, something like `boolean isD

[2022-02-20 10:38] sirsha-chatterjee commented on #508
Hi @jmrozanec can I take this up?

[2022-02-20 17:36] jmrozanec commented on #508
@sirsha-chatterjee yes, please! 😄 Thanks!

[2022-02-28 13:08] harshadsindhav opened #510 "Suuport fro Japanese locale"
Hi Guys,
Kudos for fantastic work!!
Do we have any planning for Japanese locale support ? Are we planning this ?
Thank You for your support.
-Harshad

[2022-02-28 15:40] jmrozanec commented on #510
@harshadsindhav thanks! 😄 If you are willing to contribute to the locale, we will be glad to merge and release a version. Do we have a deal? 😄

[2022-02-28 21:09] sserbousek commented on #499
Any chance of this one getting fixed?

[2022-03-01 08:36] jmrozanec commented on #499
@jmrozanec we can have a look over the weekend. If you have some time to contribute a fix, it will be much appreciated. Thanks! 😄

[2022-03-04 12:12] sfatali opened #511 "Comparing cron expressions based on their frequency"
Hi!
Would love to see a feature for comparing cron expressions based on their frequency. Would be useful e.g. when sorting a collection of cron expressions based on how frequent they fire up.

[2022-03-04 13:06] jmrozanec commented on #511
@sfatali thank you for the suggestion! 😄 We are categorizing the request among features. If you have some time to contribute a solution, we will be glad to merge it and release a version with it. Thank you for helping us make cron-utils better! 😄

[2022-03-26 12:25] #508 closed

[2022-03-27 08:36] jmrozanec commented on #510
@harshadsindhav supported! A new release is coming soon! 😄

[2022-03-27 08:36] #510 closed

[2022-03-27 20:07] jmrozanec commented on #505
@Spikhalskiy implemented! 😄 A release will follow soon. Thanks!

[2022-03-27 20:07] #505 closed

[2022-03-30 14:50] rdicroce opened #512 "IllegalArgumentException in SingleExecutionTime#lastExecution()"
Some unit tests in my application failed today even though I hadn't changed any relevant code. The relevant part of the stack trace:

[code]

The cause is that the logic doesn't correctly handle situations where day-of-month is specified in the Cron expression, and the previous month does not have that day.

I have written a unit test to reproduce this and made a change that fixes it. Will open a

[2022-03-30 15:11] jmrozanec commented on #512
@rdicroce thanks! We appreciate! 😄

[2022-04-03 19:55] #512 closed

[2022-05-11 12:45] aloifolia opened #514 "Get fire count between two dates"
It would be useful to not only be able to calculate one adjacent execution time but either
- to get a full range of execution times between two specified dates (like in the [Quartz library](https://www.quartz-scheduler.org/api/2.1.7/org/quartz/TriggerUtils.html#computeFireTimesBetween(org.quartz.spi.OperableTrigger,%20org.quartz.Calendar,%20java.util.Date,%20java.util.Date))) or
- to get a count o

[2022-05-12 08:20] jmrozanec commented on #514
@aloifolia thank you for the suggestion. We agree this could be useful, but at the same time could lead to an explosion of results (e.g., every second execution within a year). A count could be much more efficient. We are open to discussing and implementing such a feature. Ideas and contributions are welcome! 😄

[2022-05-23 11:44] meincs commented on #503
@jmrozanec when can we expect the the release of a new version comprising the provided bug fix?

[2022-05-23 12:04] YotillaAntoni opened #515 "Add thread safety info to javadoc"
Currently, classes like `CronParser` or `CronDefinition` that must be build to parse expressions looks like they are thread safe. But the javadoc or the documentation doesn't say it anywhere.

It would be nice if the javadoc stated this if they indeed are thread safe, and there are no plans to make them mutable, because library users could safely assume that they only need an instance of this clas

[2022-05-24 16:27] echristeson opened #517 "Input Validation Vulnerability in Dependency"
`org.glassfish:javax.el:3.0.0` has an input validation vulnerability
[SNYK-JAVA-ORGGLASSFISH-2841368](https://security.snyk.io/vuln/SNYK-JAVA-ORGGLASSFISH-2841368
)
It has been [fixed in 3.0.4](https://github.com/jakartaee/expression-language/pull/160#issuecomment-900834537) but it appears that the project changed to `org.glassfish.jakarta.el`

[2022-06-07 15:16] J0B10 opened #520 "@reboot nickname support"
First of all thanks for this great utility!
I'm currently implementing a scheduling for [BetonQuest](https://github.com/BetonQuest/BetonQuest) using a cron syntax (-> BetonQuest/BetonQuest#1885) and it saves a ton of work.

Only thing I'm still missing but really would love to implement is support to run stuff on startup using the `@reboot` nickname just like it's known from the crontab syntax.

S

[2022-06-07 18:51] jmrozanec commented on #520
@J0B10 we are glad to hear cron-utils is helpful! 😄 How do you envision the support for the `@reboot` nickname? We can think about supporting custom nicknames, but in this case, it won't be tied to a particular cron pattern for execution. Furthermore, how would you handle the reboot signalization? Any thoughts on this are appreciated, to design a solution.

[2022-06-07 20:16] J0B10 commented on #520
So it would be enough if in the cron definition one could allow specific nicks and then could have a check in the cron interface if the nick was present. Then all further implementation how such a reboot should be handled is up to the library user.

But I'm unsure how well that works with your current implementation as I haven't studied your code yet.
Till now it is a blackbox to me 😅

I'll see if

[2022-06-07 20:41] jmrozanec commented on #520
@J0B10 great! 😄 Thanks!

[2022-06-08 11:07] J0B10 commented on #520
So I had a further look. I'dd say a single cron should not only hold a map with CronFields, it should also store if a nickname was used.
A new instance could be either constructed with a list of fields or a nickname.
The cron interface should then provide a method to check if a specific nickname was used.
Nicknames should be a class, not an enum. The class should also provide a way to translate th

[2022-06-08 11:32] jmrozanec commented on #520
@J0B10 thank you for the comments! 😄 We thought about nicknames as enums, given there are just a few keywords used across the multiple cron definitions and implementations. Therefore, it makes sense to restrict the nicknames to those options. We will check, and come back with a tentative implementation. Regarding the cron translation, if no conversion is possible, then we throw an exception. Not a

[2022-06-16 13:31] J0B10 opened #522 "IllegalArgumentException when trying to parse `@monthly` nickname"
# Bug description
When trying to parse cron expression `@monthly` using the Cron parser the following exception occurs:
[code]

The following Cron definition was used:
[code]
And the following code can be used to reproduce it:
[code]

## Expected Behaviour
The parser should correctly parse `@monthly`, throwing no exceptions and returning the same cron as defined by `0 0 1 * *`.

-----------
_I'll

[2022-06-16 13:36] jmrozanec commented on #522
@J0B10 thanks! We will appreciate that! 😄 If can be extended to the rest of the aliases, it would be great 😄

[2022-06-22 19:39] #522 closed, assigned to nobody

[2022-06-22 19:43] #507 closed

[2022-06-22 20:03] lodenrogue commented on #514
I'm trying to understand the request here. You want a number of times a given cron expressions **will** trigger between two given dates?

[2022-06-23 08:00] jmrozanec commented on #514
@lodenrogue Both are requested 😄 If you have time to implement any of those, it would be a great addition to the library! 🚀

[2022-06-23 23:08] lodenrogue commented on #514
@jmrozanec Sure. I can work on that. Where in the code do you think it would fit best? I just discovered this repo yesterday so I'm not too familiar with the code yet..

[2022-06-24 00:16] lodenrogue commented on #514
@jmrozanec Gave it a best guess: https://github.com/jmrozanec/cron-utils/pull/524

[2022-06-24 20:02] jmrozanec commented on #514
@lodenrogue thanks! We merged it into master! 😄 Some improvements may be required for large intervals and frequent executions, but for now, we at least support this functionality. Thanks! 😄

[2022-06-24 23:17] lodenrogue commented on #514
My pleasure!

[2022-06-25 01:23] lodenrogue commented on #511
I've been thinking through this one and I haven't been able to come up with a solution. I keep thinking of an approach where you can check how often one expression fires before another expression fires but that won't work because the first could stop at that moment and the second expression could fire more often than the first after that moment in time. We would need to calculate until the end of

[2022-06-25 02:24] lodenrogue commented on #502
This is probably due to the fact that you're using YYYY instead of yyyy.

YYYY is week based year
yyyy is era based year.

If the week straddles the next year YYYY will give you the current year + 1.

https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html
https://stackoverflow.com/a/26431981

[2022-06-25 02:26] lodenrogue commented on #502
Also, SimpleDateFormat is not part of this library as far as I know. It's part of the core Java library.

[2022-06-25 02:40] lodenrogue commented on #499
`?` is not a valid token in unix cron. Maybe you meant to use `*`?

Here's the documentation for unix cron:
https://www.ibm.com/docs/en/db2/11.5?topic=task-unix-cron-format

[2022-06-25 03:11] lodenrogue commented on #511
Thinking through it more there's probably a way to do some math and come up with a number to represent the frequency:

Take this expression for example:
[code]

We could do something like:
[code]

I'll just need some help figuring out how to apply this to what cron-utils has in place today. Also, someone who is more familiar with cron expressions and all their variations please tell me where this

[2022-06-25 10:31] jmrozanec commented on #499
@lodenrogue thank you for looking into this and providing an answer. @sserbousek we are closing the issue, given the answer above. Best!

[2022-06-25 10:31] #499 closed

[2022-06-25 10:32] jmrozanec commented on #502
@lodenrogue thank you for looking into this and providing an answer. @muralikrishna-kolapalli we are closing the issue given the answer above. Thanks! 😄

[2022-06-25 10:32] #502 closed

[2022-06-25 10:42] jmrozanec commented on #511
@lodenrogue for sure we need a timeframe to compute; otherwise, it could be infinite for recurring executions. Moreover, given an arbitrary timeframe, we need to make this computation efficient: e.g., if we have a cron expression that asks to fire certain action every second, then it would make more than two and a half million executions in a month (about 2.629.743 to be more precise). For greater

[2022-06-25 15:27] jmrozanec commented on #517
@echristeson fixed!

[2022-06-25 15:27] #517 closed

[2022-06-25 15:43] jmrozanec commented on #515
@YotillaAntoni thank you for the suggestion! We just documented the thread-safety for both proposed classes. Best!

[2022-06-25 15:43] #515 closed

[2022-06-25 17:05] lodenrogue commented on #280
Can this be closed?

[2022-06-25 22:24] jmrozanec commented on #280
@lodenrogue yes 😄 Thanks for reminding! 😄

[2022-06-25 22:24] #280 closed

[2022-06-27 20:29] cykirsch commented on #517
@jmrozanec Thanks! Do you have a timeline in mind for your next release?

[2022-06-27 21:36] jmrozanec commented on #517
@cykirsch let's aim for this weekend! 😄 We will update you, when released!

[2022-06-29 08:59] #12 closed

[2022-07-08 08:44] Nordlichtwzx opened #525 "Could cron-utils support x weeks to execute"

[2022-07-08 08:52] jmrozanec commented on #525
@Nordlichtwzx could you provide a more informative description, and perhaps some examples or a test case? 😄  Thanks!

[2022-07-10 20:19] jmrozanec commented on #525
@Nordlichtwzx may we ask for some additional details regarding this task? If no more details are provided, we will close the issue due to insufficient context. Thanks! 😄

[2022-07-13 06:49] Nordlichtwzx commented on #525
just like every two weeks wednesdays and Thursdays to execute

[2022-07-13 07:07] jmrozanec commented on #525
@Nordlichtwzx thanks! 😄

[2022-07-13 23:31] Spikhalskiy commented on #525
Same as https://github.com/jmrozanec/cron-utils/issues/506

[2022-07-14 07:15] jmrozanec commented on #525
https://stackoverflow.com/questions/46109358/how-to-create-a-cron-expression-for-every-2-weeks

[2022-07-14 07:16] jmrozanec commented on #525
Closing as a duplicate of issue #506

[2022-07-14 07:16] #525 closed

[2022-07-16 08:18] jmrozanec commented on #517
@cykirsch @echristeson release 9.1.7 was published!

[2022-07-16 08:19] jmrozanec commented on #515
@YotillaAntoni release 9.1.7 was published!

[2022-07-16 08:20] jmrozanec commented on #512
@rdicroce release 9.1.7 was published with this fix! Thanks! 😄

[2022-07-16 08:21] jmrozanec commented on #510
@harshadsindhav release 9.1.7 was published!

[2022-07-16 08:21] jmrozanec commented on #508
@robsoncassol @sirsha-chatterjee  release 9.1.7 was published! Thanks! 😄

[2022-07-16 08:22] jmrozanec commented on #507
@csisy @kamilbednarski release 9.1.7 was published! Thanks! 😄

[2022-07-16 08:23] jmrozanec commented on #505
@Spikhalskiy release 9.1.7 was published! Thanks! 😄

[2022-07-16 08:30] jmrozanec opened #526 "Fail to convert Unix to Quartz cron expression"
https://github.com/jmrozanec/cron-utils/pull/504/commits/e9648ff19712e8f345cbbe94fbe168c0ab364c27

[2022-07-16 08:31] jmrozanec commented on #503
@meincs release 9.1.7 was published! Thanks! 😄

[2022-07-16 08:42] jmrozanec commented on #495
@hibnico version 9.1.7 was released with this fix! Thanks! 😄

[2022-07-28 14:58] korthout commented on #501
@jmrozanec Could you help guide how support could be added?

Am I correct that it's as easy as marking the [SPRING `CronDefinition` for day of the month](https://github.com/jmrozanec/cron-utils/blob/master/src/main/java/com/cronutils/model/definition/CronDefinitionBuilder.java#L398) to now support these using `supportsL()` and `supportsW()`?

[2022-07-28 15:25] korthout commented on #501
@jmrozanec Wow, that's a fast response! 😄

And that's great to hear! Let me know if you need my help in any way. Otherwise, thanks for this!

[2022-07-28 15:27] jmrozanec commented on #501
@korthout thanks! 😄 You are welcome!

[2022-07-28 21:55] jmrozanec commented on #501
@korthout the feature was added, and a new version (9.1.8) was released with it. We provide full compliance with the features listed in the new Spring cron version, including nicknames. We hope you find it useful! 😄 Any feedback will be appreciated!

[2022-07-28 21:55] #501 closed

[2022-07-29 10:47] esommars commented on #501
Very nice! :)

[2022-07-29 10:51] korthout commented on #501
This is great! Thanks a lot 🚀

I'll make sure to reach out if we run into any issues.

[2022-07-29 19:53] jmrozanec opened #527 "Question mark not correctly parsed at DoM field for Spring v5.3+."
The following example was extracted from [the release announcement](https://spring.io/blog/2020/11/10/new-in-spring-5-3-improved-cron-expressions)

    CronBuilder builder = CronBuilder.cron(cronDefinition)
                .withDoW(on(1, SpecialChar.HASH, 1))
                .withMonth(always())
                .withDoM(on(SpecialChar.QUESTION_MARK))
                .withHour(on(0))

[2022-07-29 20:03] #527 closed

[2022-07-29 20:46] jmrozanec commented on #520
@J0B10, we have implemented the feature! 😄 🚀 A release will follow soon! Thank you for pushing the boundaries of cron-utils 😄

[2022-07-29 20:46] #520 closed

[2022-07-29 20:51] #497 closed

[2022-07-30 09:20] J0B10 commented on #520
Love it! ❤️ Thanks a lot for making this a thing! 👍

I will now look into updating our codebase to make use of the new features and run our tests against it.
So you can get a first feedback of how well it works.

[2022-07-30 10:05] J0B10 opened #528 "ClassCastException when calling ExecutionTime.forCron() for RebootCron"
# Bug description
**cron-utils Version:** https://github.com/jmrozanec/cron-utils/commit/307990d14686a89560c768b876259532694b9ae4

When calling [`ExecutionTime.forCron(cron)`](https://github.com/jmrozanec/cron-utils/blob/307990d14686a89560c768b876259532694b9ae4/src/main/java/com/cronutils/model/time/ExecutionTime.java#L32-L79) on a Reboot schedule we get the following ClassCastException:

[code]
T

[2022-07-30 10:09] jmrozanec commented on #528
@J0B10, may we ask you for a PR with a test for this issue? We would appreciate that 😄

[2022-07-30 10:10] J0B10 commented on #528
I'm already working on it 😅

[2022-07-30 10:13] jmrozanec commented on #528
@J0B10 I think we have a fix for it, so just the test would be enough 😄 Thank you for reporting! 🚀

[2022-07-30 10:15] jmrozanec commented on #520
@J0B10 thanks! 🚀 😎

[2022-07-30 10:17] #514 closed

[2022-07-30 10:21] J0B10 commented on #528
Uhh that was quick .👍  I first had to commit my code to our repo and open a PR there.
I'm doing way too much stuff at the same time. 😅

But yes, I'll write a test. The fix LGTM and is exactly what I envisioned.

What I still wonder if the CronDiscriptor or the CronMapper could have similar issues with the RebootCron.
I have not tested that though as we do not use these.

[2022-07-30 10:37] jmrozanec commented on #528
@J0B10, we would appreciate it if you could add some tests for that too 😄 And then we see if works as expected 😄

[2022-07-30 10:59] jmrozanec opened #530 "Fire count between two dates not accurate"
ZonedDateTime date1 = LocalDateTime.of(2018, 11, 5, 0, 0, 0).atZone(ZoneId.of("UTC"));
        ZonedDateTime date2 = LocalDateTime.of(2018, 11, 11, 0, 0, 0).atZone(ZoneId.of("UTC"));

        final CronDefinition cronDefinition = CronDefinitionBuilder.instanceDefinitionFor(CronType.SPRING53);
        parser = new CronParser(cronDefinition);

        cron1 = parser.parse("0 0 9-17 * * MON-FRI");//o

[2022-07-30 11:00] #530 closed

[2022-07-30 11:02] jmrozanec commented on #511
@lodenrogue the feature was implemented with a custom Comparator implementation, which requires to define a date range to perform the comparison. Further enhancements are possible 😄 We will release the feature soon. Thank you for pushing the boundaries of cron-utils!

[2022-07-30 11:02] #511 closed

[2022-07-30 11:24] jmrozanec commented on #528
@J0B10 we implemented the fixes! 😎  A new release will follow soon 🚀  Thank you for contributing to cron-utils! 😄

[2022-07-30 11:24] #528 closed

[2022-07-30 12:24] jmrozanec commented on #528
@J0B10 cron-utils version 9.2.0 was released with this functionality and the fixes for the issues above. Thank you again! 😄 🚀

[2022-07-30 12:26] jmrozanec commented on #511
@sfatali @lodenrogue, the abovementioned functionality was implemented and released in version 9.2.0. Thank you for helping us build a better cron-utils! 🚀 😎

[2022-07-30 16:27] J0B10 commented on #528
Thanks a lot! We already updated our codebase to use the new release 🚀

[2022-08-01 03:58] chenkaifeng123 opened #532 "CronParser not support "0 0 8-1/1 * * ?""
The issue is when I configure cron expression like "0 0 8-1/1 * * ?" which means  from moning 8:00 am to 1 am

CronParser parser = new CronParser(cronDefinition);
        Cron cron = parser.parse(cronStr);
will throw exception

	at com.cronutils.parser.CronParser.parse(CronParser.java:131)
Caused by: java.lang.IllegalArgumentException: Invalid range! [8,1]
	at com.cronutils.model.field.expression.

[2022-08-01 06:19] jmrozanec commented on #532
@chenkaifeng123, thank you for reporting this. May we ask you for a test case to reproduce the issue? This is not necessarily a bug; it may signal that your cron expression does not conform to the cron definition. If no test case is provided, we may close this issue due to a lack of reproducibility. Thank you! 😄

[2022-08-01 06:29] chenkaifeng123 commented on #532
sorry , I found this is because different CronType  issue.

[2022-08-01 06:31] chenkaifeng123 commented on #532
For this definition CronType.QUARTZ, it works and for CronType.SPRING it not work
CronDefinition cronDefinition = CronDefinitionBuilder.instanceDefinitionFor(CronType.QUARTZ);

[2022-08-01 06:31] jmrozanec commented on #532
@chenkaifeng123, please provide a PR with the corresponding test case. Thanks! 😄

[2022-08-01 06:36] chenkaifeng123 commented on #532
Ok, I will try to give this test case a little later.

[2022-08-01 16:21] jmrozanec commented on #532
Closing until a PR is provided.

[2022-08-01 16:21] #532 closed

[2022-08-15 17:00] andysenn opened #535 "Using L, W, and LW with CronBuilder throws IllegalArgumentException"
We have a project that is currently using version 8.0.0. We are trying to upgrade to address a couple of CVEs, but it looks like newer versions (starting around 8.1.1) no longer support L, W, and LW with CronBuilder.

We've reviewed issue https://github.com/jmrozanec/cron-utils/issues/501, which sounded like it was going to address this, but we're still running into issues. We've tested this with

[2022-08-15 21:47] jmrozanec commented on #535
@andysenn, may we ask for a PR with the abovementioned tests? Thanks! 😄

[2022-08-16 15:31] andysenn commented on #535
@jmrozanec - I apologize. After looking at the code a bit more, I see that `CronType.SPRING53` was added in version 9.2.0. If I use this, then it works. Since, at least from my understanding, those characters weren't supported prior to Spring 5.3, I don't think this is an issue.

Thank you for your time and quick response. This can be closed.

[2022-08-16 15:31] #535 closed

[2022-08-16 15:35] jmrozanec commented on #535
@andysenn, we are glad to hear that! 😄

[2022-08-17 08:15] jmuis opened #536 "asString() output for cron containing weekdays"
Hi,

First of all thanks very much for this library. Only recently discovered it but it is extremely useful for us while moving away from a certain scheduler and replacing it with another one.

Our expressions typically contain written weekdays such as MON, TUE, etc. Parsing that up works great, but I can not find a way to get the output as such when building a CRON and getting the expression. (Cr

[2022-08-17 08:26] jmrozanec commented on #536
@jmuis, perhaps we can add a visitor or some post-processing step to achieve this? How much time would be an acceptable time for you, so we deliver a solution? Thank you for the positive feedback! We are glad cron-utils is useful to you! 😄 🚀

[2022-08-17 08:51] jmuis commented on #536
@jmrozanec  thanks for your quick and positive response. There is no immediate pressure as we can deal with it for the foreseeable future, but would love to drop the legacy stuff altogether rather sooner than later :)

Had a quick look at the visitor pattern already, but I did not get the results as expected for some reason and wasn't entirely sure either that building up the expression myself was

[2022-08-17 08:54] jmrozanec commented on #536
@jmuis, great! We will look into the code and provide a solution. Have a good travel! 😄 And check for a new cron-utils release on your return! 🚀

[2022-08-17 08:58] jmuis commented on #536
@jmrozanec  will do! Thanks very much again!

[2022-09-06 21:44] Chazzzzzzz opened #538 "[potential bug] ExecutionTime.nextExecution returns Empty When time is beyond 2099 years"
Hey guys, we find an issue in latest cron-utils release: ExecutionTime.nextExecution will return Empty when time is beyond 2099 years. The following is my test code

In the test class, I use 12/31/2099 as the current time and try to find next execution time after one month. The result I get is empty.
Please check and let me know if I am doing a wrong way or its a bug of the library.

class app
`

[2022-10-04 08:01] kristofarkas opened #539 "DOM list including "L" does not behave as expected"
A cron expression for every 15th and last day of the month at 12:00 does not behave as expected and skips the last days when asked for next execution time.

Example cron schedule: `0 0 L,15 * *`

[2022-10-04 12:59] jmrozanec commented on #539
@kristofarkas, thank you for reporting this. May we ask you for a PR with a test reproducing the issue? Thanks! 😄

[2022-10-04 13:02] jmrozanec commented on #538
@Chazzzzzzz, thank you for rising this question and example. The Quartz cron definition requires us to consider only intervals up to 2099. Please see [this web page](http://www.quartz-scheduler.org/documentation/quartz-2.3.0/tutorials/crontrigger.html#introduction) documenting the constraint. We are closing this issue as the cron parser is behaving as expected.

[2022-10-04 13:02] #538 closed

[2022-10-09 19:25] mccartney commented on #539
(just a lurker, not part of the project, just trying to help)

The README for this project says:

so I think the intent is for `L` to be supported.

[2022-10-09 19:44] mccartney opened #542 "Dependabot?"
How about configuring @Dependabot for this project so that it keeps on updating the dependencies?

[2022-10-10 08:26] kristofarkas commented on #539
This quote is from the quarz cron tutorial here: http://www.quartz-scheduler.org/documentation/quartz-2.3.0/tutorials/crontrigger.html. Is `L,15` a list? And if so does it fall under the this quote?

[2022-10-11 06:29] jmrozanec commented on #542
@mccartney, sure! Great idea! 😄 We would be happy to merge the PR 🚀

[2022-10-13 21:38] mccartney opened #544 "pom.xml.jdk16 not tested?"
It seems like the copy of the Maven configuration file: `pom.xml.jdk16` is not tested by Github actions at all. Not sure if this is intended, but it seems like nothing is checking the soundness of that file.

[2022-10-14 07:12] jmrozanec commented on #544
@mccartney, currently, that pom is not used. We may get back to it to update the project according to the JDK 17 (LTS). When updating to a newer LTS JDK, we weigh to what extent the JDK is adopted in production settings to ensure the library can be used by most projects.

[2022-10-17 17:49] jamilxt opened #545 "Unix Cron to Quartz Cron Expression Converter"
Is there any util method which allows conversion of Unix cron expression to Quartz cron expression?

Thank you.

[2022-10-20 18:10] #545 closed

[2022-10-27 08:03] kristofarkas commented on #539
Any thoughts on this @jmrozanec? I could contribute a fix (if this is indeed a bug) with some help from you on where to look.

[2022-10-27 08:45] jmrozanec commented on #539
@kristofarkas, if the expression is valid, it must be supported as defined in the specification. We will be glad to merge a PR with a valid fix 😄  Thanks!

[2022-11-05 19:05] #542 closed

[2022-11-05 19:12] #544 closed